[2015-04-18 17:23] Maxime-BHA opened #2 "Why not using Repositories Pattern ?"
Hello there,

Since the code has already Interfaces and Managers, you should use a repository pattern to organize and centralize the whole code.

It'll also remove any chances of duplications and make the code less complex to use including the fact that you will only need to inject a single depency instead of 5, as exemple :

[code]

Will be like :
[code]

Also, it'll allow us to make a globalized

[2015-04-18 18:47] thunderer commented on #2
What Repository pattern do you mean? For me it was described [here](http://martinfowler.com/eaaCatalog/repository.html) and has nothing to do with this case. You probably thought about [Facade](http://martinfowler.com/eaaCatalog/remoteFacade.html) and if you take a look at the [Ideas](https://github.com/thunderer/Shortcode#ideas) part of the README you'd see that I listed "library facade for easie

[2015-04-18 21:53] thunderer commented on #2
I thought about that for a while and don't see any good solution to that problem. Those classes are not hard to instantiate and I think that any object that would only help creating them is an overkill. I understand your desire to centralize things like registering shortcodes, but still support what I said about "globalization" being bad. If you really want to achieve that and won't use any contai

[2015-04-18 22:10] ghost commented on #2
@thunderer

I have no problem with Dependency Injection, and "globalize" wasn't the word I would have used because, I know that globalization is really bad, hard to test breaks out some great principles.

I was acknowledging about what a God Object was (and thanks for the docs), for the toJson(), that was just a "bad practice" kept from Laravel that use `toArray()`and `toJson()` method for these p

[2015-04-19 17:02] thunderer commented on #2
@Maxime-BHA Thanks for understanding my intentions. With the information provided above, do you now have any idea how would you like to ease usage of this library without violating these rules and principles? Maybe `MyShortcode` class which I pasted above will solve your problem?

[2015-04-24 19:05] thunderer commented on #2
@Maxime-BHA It's nearly a week from your last response, so I'm closing this issue. If you have more questions or ideas in line with what I said above, I'm all ears, please reopen it or create new one.

[2015-04-24 19:05] #2 closed

[2015-05-01 16:10] ghost commented on #2
I'm busy for the moment, some exams and personnal issues, I'll get back to you ASAP

[2015-05-06 22:44] thunderer opened #7 "Refactoring abstractions"
Couple of loose thoughts:

- [x] "syntax" concept needs to be split into reusable data container (the actual `Syntax` class) to define fragments and regular expressions builder (regular and strict variant), with separate namespaces and interfaces for both,
- [x] `Extractor` class needs to be moved into its own namespace and renamed to `RegexExtractor` taking regular expression builder as a depende

[2015-05-07 08:44] thunderer opened #9 "Shortcode "self-awareness""
This is a cool idea by @wollywombat to bring another set of helper methods to `Shortcode` class:

- [x] `getPosition()`: match number in currently processed text,
- [x] `getNamePosition()`: match number from shortcodes with the same name,
- [x] `getMatchOffset()`: match offset in processed text,
- [x] `getParent()`: parent shortcode when processing recursively or `null` if in root scope.

These me

[2015-05-08 12:53] thunderer commented on #9
`Shortcode` shouldn't know anything about the context it's being used in, there should be a class called (proposition) `ContextAwareShortcode` that extends it, provides the same interface (`ShortcodeInterface` could be helpful for reusable shortcode implementations) and could be typehinted for shortcodes needing that concrete implementation. So far it looks like another BC-breaking idea. :cry:

[2015-05-11 14:32] thunderer commented on #9
Shortcode handler should control processing of shortcode content (possible nested shortcodes), so `ContextAwareShortcode` should provide `ProcessorInterface` instance through `getProcessor()` method. For now shortcode content is processed before shortcode itself and it's done inside processor so outside control of handler. This is a necessary BC-break, I'm not sure when should it happen.

[2015-07-24 10:56] thunderer opened #11 "Handler events"
It would be cool to be able to register events at various parts of the text processing flow, for example:

* `PRE_PROCESS_TEXT` - input text,
* `PRE_EXTRACT` - match position and string,
* `POST_EXTRACT` - `ExtractorMatch` instance,
* `PRE_PARSE` - string match,
* `POST_PARSE` - `ShortcodeInterface` instance,
* `PRE_PROCESS` - handler and `ShortcodeInterface` instance,
* `POST_PROCESS` - result of

[2015-08-13 09:46] thunderer opened #12 "Builtin example handlers"
For convenience and reducing the amount of code needed to be written by end user, this project should include some handlers ready to use or with minimal configuration. Since handling of raw closures would be difficult, those handlers should be made using `__invoke()` magic method. Several examples to work on:

- [x] `RawHandler` always returns `getTextContent()` to provide "raw" shortcode handler,

[2015-08-25 16:51] #9 closed

[2015-08-25 18:33] thunderer commented on #7
Maybe those language parser will be introduced some day, I'm closing this issue for now.

[2015-08-25 18:33] #7 closed

[2015-08-26 20:21] thunderer opened #14 "Exception when trying to get missing shortcode parameter"
Current implementation of `AbstractShortcode` throws an exception when trying to get parameter of the shortcode which is not present. Method `getParameter($name, $default)` detects if default value was provided by checking if `$default` value is `null` so that when someone explicitly passes `null` exception is thrown. Two possible solutions of this problem are as follows:

- do not throw an except

[2015-08-26 20:30] thunderer opened #15 "Handling self-closing shortcode without handler"
In the current implementation of `Processor`, `TextSerializer` is used to serialize shortcodes without registered handler. This may cause bugs when for example text contains consecutive shortcodes of the same name. Let's say that we have text with two shortcodes, one self-closed and one with content: `[code /] [code]content[/code]` and it does not have a registered handler. The result of the proce

[2015-08-27 21:33] thunderer commented on #14
I chose the first option, this issue was fixed in https://github.com/thunderer/Shortcode/commit/cc75b2f9d61f2c8c00a5f5f0744c2f74f2200ef2.

[2015-08-27 21:33] #14 closed

[2015-08-27 21:50] thunderer commented on #15
Handling self-closing shortcodes has been reworked, now `Processor` is aware of the shortcode text fragments offsets and replaces them with greater granularity and `TextSerializer` checks also for shortcode being `ParsedShortcodeInterface` and getting closing marker offset from it.

[2015-08-27 21:50] #15 closed

[2015-10-03 11:47] thunderer commented on #7
Side note that actual parser is currently being introduced in `naive-parser` branch, so we can consider that checkbox completed.

[2015-10-08 14:57] thunderer opened #16 "Ideas"
Just a list of issues to remember:

- [ ] prevent the ability to create shortcode with falsy name.

[2015-10-12 12:54] NishantSolanki opened #19 "Please provide working examples"
Your documentations seems to be hard to understand,
Can you provide working examples for each of the base functions so that one can get better understanding?

Thanks

[2015-10-12 13:17] thunderer commented on #19
@NishantSolanki Hi, thanks for reporting the issue! Of course I can provide (better) examples, but could you please tell me what is hard to understand for you? I'd like to understand where did I get wrong in my documentation so that I can avoid that in the future.

[2015-10-13 04:05] NishantSolanki commented on #19
@thunderer Thanks so much for your quick reply,
But I dont even know where to start,
I installed the library using composer, and below is what I was trying.

[code]

But obviously it won't work, I am missing something. But dont know where to start with.

Regards

[2015-10-13 12:13] thunderer commented on #19
@NishantSolanki I'm now working on a Pull Request introducing regular parser in #20 and then I'll work on the promised documentation, but I wanted to help you with the example you provided above. It's written to use all the new code I wrote on `master` branch that will be marked as `1.0.0` release soon. Could you please tell me if it's good and easy to understand now?

[code]

[2015-10-14 05:08] NishantSolanki commented on #19
I just used your above code, but gettning below error.

[code]

I checked and HandlerContainer class is not present in the library.

I think if we install it using composer than it returns different files, I manually downloaded HandlerContainer class from git and put it in the respective folder than I got below error

[code]

[2015-10-14 05:30] thunderer commented on #19
@NishantSolanki From the code you posted previously I think you're using version `v0.4.0`. Can you update it to `dev-master` (it will be released as `1.0.0` soon)? I changed many things and finally reached stable interface there. Nevertheless, for that older version the code should be:

[code]

[2015-10-14 05:38] NishantSolanki commented on #19
Thanks for the quick one, I will try it as well
One more thing I wanted to report, Just now I tried to install it using composer.json file

[code]

But composer gives an error **The requested package "thunderer/shortcode" could not be found in any version, there may be a typo in package name**

[2015-10-14 05:43] jdreesen commented on #19
Use `dev-master` instead of `~1.0` because version `1.0` is not released yet.

[2015-10-14 05:47] thunderer commented on #19
@NishantSolanki @jdreesen Yeah, that's because as you see on Shortcode's Packagist page there is no `1.0` version right now, and when you write `~1.0` in `composer.json` then it means "at least 1.0.0, but try to match as high 1.0.\* as possible. The current highest stable release is 0.4.0. Apart from using `dev-master` you can also use `@dev` version.

[2015-10-14 07:12] NishantSolanki commented on #19
Thanks 'dev-master' also gave the same error but '@dev' worked.

On Wed, Oct 14, 2015 at 11:17 AM, Tomasz Kowalczyk <notifications@github.com

##

Regards
Nishant Solanki

[2015-10-14 09:08] thunderer commented on #19
@NishantSolanki Weird, I tested both and they worked. Can you share how did you install this library? I ran in command line both:

[code]

and they worked fine. These two are equivalent to putting requirement on versions `dev-master` and `@dev` in `composer.json`.

[2015-10-14 09:19] NishantSolanki commented on #19
no.. I was doing it using composer.json file
first I tried this

[code]

but that didnt worked and than

[code]

Worked :)

On Wed, Oct 14, 2015 at 2:38 PM, Tomasz Kowalczyk notifications@github.com
wrote:

##

Regards
Nishant Solanki

[2015-10-14 09:26] thunderer commented on #19
@NishantSolanki I just created a fresh `composer.json` and added this package and both `composer install` and `composer update` worked fine. The code is below, I'm unsure what could have gone wrong in your case. Have you updated composer? What's your PHP version? If it's working then okay, I'll tag `1.0.0` soon so we'll forget about the issue. :)

[code]

[2015-11-12 11:58] michaloo opened #25 "Unicode character breaks shortcode replacement"
Hey,

I'm testing following assertion based on README example:

[code]

it works fine unless I put some unicode characters inside shortcode.

In case of polish character `ń` it returns `'x {"name":"sample","parameters":{"arg":"val"},"content":"\u0144","bbCode":null}] y'` (notice closing `]`).
In case of 4 polish characters `żółć` it returns `'x {"name":"sample","parameters":{"arg":"val"},"content"

[2015-11-12 12:18] thunderer commented on #25
@michaloo Thanks for the report. I identified the problem, it will be resolved shortly.

[2015-11-12 12:19] michaloo commented on #25
I've changed `mb_strlen` to `strlen` in the following line:
https://github.com/thunderer/Shortcode/blob/master/src/Processor/Processor.php#L68

and it solved this specific case. I didn't tested other cases.

[2015-11-12 12:27] thunderer commented on #25
@michaloo that specific case is too simple, the problem is in [line 75](https://github.com/thunderer/Shortcode/blob/master/src/Processor/Processor.php#L75). Function `substr_replace()` has no multibyte equivalent and while the shortcodes are parsed correctly the replacement mechanism leaves unwanted characters because it can't count the length correctly.

[2015-11-12 12:43] thunderer commented on #25
@michaloo I added some tests and fix in 14c8b6d , could you please test if `dev-master` works for you so that I can release `0.5.1`?

[2015-11-12 12:49] michaloo commented on #25
I've just tested it and it works as expected, it solves the problem.

Big thanks for fast reaction. Dzięki :)

[2015-11-12 13:07] thunderer commented on #25
@michaloo No problem, I wonder why anyone using this library didn't spot that earlier. :) Probably none of them inserted anything multibyte in the shortcode tags. Many thanks for reporting the issue and making this library better. I just released `v0.5.1`. I'm closing the issue but we can continue discussion below.

Jeśli masz jakieś inne pomysły na ulepszenie tej biblioteki to daj znać, chętnie o

[2015-11-13 13:44] michaloo commented on #25
I don't have a big experience in working with multibyte strings, but when I started to add more shortcodes/tags I got similar, buggy results.
I forked you repo and added a test case which caused the problem in our application:
https://github.com/stowarzyszenia-wiosna/Shortcode/blob/master/tests/ProcessorTest.php#L67

When I run phpunit all tests passed, so library worked correctly, but I couldn't

[2015-11-14 15:26] thunderer commented on #25
@michaloo Looking at the [diff of changes in your fork](https://github.com/thunderer/Shortcode/compare/master...stowarzyszenia-wiosna:master) I see that you removed my fix (that line with `mb_substr()` you commented out in `Processor` class), can you restore it and then test the result? As I said previously, that call to `mb_strlen()` calculates the length of string to replace, you can't change it

[2015-12-19 23:24] robehickman commented on #19
Your examples for this project would be a lot more useful if they included the needed name-space use statements, as they are missing just copying these examples they do not work without messing around to figure out what name spaces need to be included.

Is it really necessary to use quite so many name-spaces? It would be much easier to deal with if the whole library was under a single, or possibly

[2015-12-21 14:24] robehickman commented on #19
I ended up solving my problem using wordpress' parser.

[2015-12-21 14:54] thunderer commented on #19
Hi @robehickman, I'm glad that `WordpressParser` worked for you, but please tell me what problem did you have? As for your questions:
- including namespaces in examples is definitely a good idea. I didn't have enough spare time to finish and publish the documentation I'm working on since the last comments, but that's already fixed there,
- putting different library parts under separate namespaces

[2015-12-21 14:59] robehickman commented on #19
I assume point #2 is with reference to an IDE enumerating the classes, I do not use one as I prefer Vim, and without having a tool to automate this having so many name-spaces is a pain.

[2015-12-21 15:01] robehickman commented on #19
I have never had any issue whatsoever with having everything in a single namespace, as I use file-system structure, auto-loading, and naming conventions to provide structure in my code.

[2015-12-21 15:16] thunderer commented on #19
@robehickman I found a [plugin](https://github.com/arnaud-lb/vim-php-namespace) for Vim that might be useful for you, but yes, good IDE does that automatically and I really recommend trying out PHPStorm. I understand that if you aren't willing to use IDE that that may be a pain - I've been there and made decision to switch years ago. That's why I also would like PHP to have proper package system o

[2015-12-21 15:25] robehickman commented on #19
I like the keyboard mappings that Vim has, and strongly dislike typical 'word processor like' text editors for code editing. Does PHPStorm have a vim emulator?

[2015-12-21 15:28] thunderer commented on #19
@robehickman yes, have a look at [IdeaVim](https://plugins.jetbrains.com/plugin/164).

[2015-12-21 16:01] robehickman commented on #19
Thanks.

Considering php's dynamic features it wouldn’t surprise me if it is possible to implement something equivalent to import \* as a function. I already have helpers so I can say 'instance_model('name')' which imports if it isn't already, instances the class and returns it. Because of these helpers I practically never include anything manually, which I find makes the code much less verbose.

[2016-01-21 22:34] rhukster opened #27 "Performance Issue with `RegularParser`"
As outlined in the original PR comment: https://github.com/thunderer/Shortcode/pull/26#issuecomment-173325927, I was testing the `Shortcode` against some documentation I have for Grav CMS where I have created a Tab shortcode.  I was running into a couple of issues, but one of them is related to very slow parsing of this example page with the `RegularParser`.

After a few back and discussions with

[2016-01-21 22:40] rhukster commented on #25
As outlined in the original PR comment: https://github.com/thunderer/Shortcode/pull/26#issuecomment-173325927, I was testing the `Shortcode` against some documentation I have for Grav CMS where I have created a Tab shortcode.  The first issue I noticed was with `RegexParser` causing corruption throughout the page.

I tracked down the issue to a stray UTF-8 character that was pasted into the conten

[2016-01-21 22:57] rhukster commented on #16
I have a few of ideas to add to the list:
1. **Option to only process registered handlers**.
   Related to the performance issues I have seen in `RegularParser` it might be good to have more checks to ensure that only **registered** handlers are processed.  During my testing of a page in my documentation that was using square brackets to highlight method signatures, these were being treated as sho

[2016-01-22 15:29] thunderer commented on #25
@rhukster I managed to track down the bug, you can see the diff https://github.com/thunderer/Shortcode/compare/69b260050bf28c3307205d768d0a5434517fae03...549030899cb1851eeab3131ea2a5cec691359432 :
- `RegularParser` didn't have UTF-8 encoding qualifier in `mb_strpos()`,
- while debugging `RegexParser` I found out that `PREG_OFFSET_CAPTURE` **does not** return offset correctly, it just reports numbe

[2016-01-22 16:00] rhukster commented on #25
I will test your fix today also.

I guess on the Wordpress parser it depends on what you intend for that parser?  Obviously people with WordPress are going to use the parser in WordPress.  You can't just take a WordPress shortcode plugin and just run it on some other platform simply because the shortcode is handled the same. All the events and functions are different.

My personal opinion is that

[2016-01-23 12:59] thunderer commented on #27
@rhukster Just wanted to clarify: this is not what I _believe to be related_, I _know_ that it's caused by many unclosed shortcodes, because such input causes `RegularParser` to open many recursive calls to parser rules, that's how it works. It is not your or anyone else's fault (first of all it's my fault as an author :)), just a statement of problem to solve that I'm already trying to implement.

[2016-01-23 13:01] rhukster commented on #27
You might want to look at my "Ideas" suggestions that could help with performance here.  Cheers!

[2016-01-23 13:36] thunderer commented on #16
@rhukster these are all great ideas, let me explain how they could be achieved:
1. shortcodes without handlers are not processed (they are returned verbatim), but their content may be processed if `Processor::withAutoProcessContent()` is set to true. If you want to remove them then look at the branch `runtime-events`, there is an event `FilterShortcodesEvent` using which you could remove all match

[2016-01-23 14:03] thunderer commented on #25
@rhukster Have you tested the fix on `dev-master`? Can I tag a new release?

As for the `WordpressParser`, the whole idea for it was to "not fix" the issues WordPress has, because if you want fully correct regex parser, there is...  `RegexParser`. :) Of course the copied code was adjusted to conform to what I wanted to achieve but you're right, I probably can't fully imitate its environment with a

[2016-01-24 12:30] giansi opened #29 "Wrong parent shortcode returned in nested shortcodes"
Hello,
I'm dealing with nested shortcodes and I faced the following issue. Giving this shortcode structure:

    [shortcode1]
        [shortcode2]
            [shortcode3]
            [/shortcode3]
        [/shortcode2]
    [/shortcode1]

calling getParent() on shortcode3 returns the shortcode1 and not the expected shortcode2.

[2016-01-24 19:37] thunderer commented on #27
@rhukster I merged the performance improvements PR to master, but I found some issues with parsing correctness when dealing with complex nested cases so please use `RegexParser` for now, I'll give you an update once they will be resolved.

[2016-01-24 19:38] thunderer commented on #29
Hi @giansi, could you tell me a bit about how you use this library? Maybe a failing test or a gist to debug?

[2016-01-25 00:09] thunderer commented on #27
@rhukster I think I fixed the issue in https://github.com/thunderer/Shortcode/commit/4cda52fd5b2e1d60d33ed3fc345a1b478dfe6380 , could you please test if current `dev-master` matches your expectations?

[2016-01-25 00:27] thunderer commented on #29
Oh, I see that you're working on GravCMS with @rhukster. :) Could you please check the current `dev-master` as I've just pushed some fixes? If it resolves your issues, I'll tag a new release. Thanks!

[2016-01-25 01:11] rhukster commented on #27
I just tested your latest dev-master.  The RegularParser is now much improved!  As you say it renders in about 500ms on the 'test page'.  No more errors and timeouts!  I'll probably continue to use Regex or Wordpress parser as they are an order of magnitude faster still (Regex ~40ms, and Wordpress ~20ms).

What would the advantage be to using the RegularParser over the Regex or Wordpress one?

[2016-01-25 01:12] rhukster commented on #25
WordPress and Regex parsers are now working as expected for me!  Thanks!

[2016-01-25 01:19] rhukster commented on #16
1) I think an event model would be handy to customize the processing rules as long as it was not overly complex or expensive in processing time.  iv'e not looked at that branch, but I like the concept.

2) Your solution should solve that problem yes.

3) The `getBaseOffset()` would work as a unique id.  So yes, that would do nicely.

4) Yes, getting access to the parser would be most helpful.

Tha

[2016-01-25 05:49] giansi commented on #29
To be honest the new branch breaks my code while it works with @rhukster plugins, so it is something on my side. I have to fix that problem then I'll let you know.

[2016-01-25 09:32] thunderer commented on #27
Thanks, could you also help @giansi resolve problems in #29? If you say that this issue is resolved, I only need to know if his issue is something to fix before tagging new release.

As for the advantages of `RegularParser` - the most important one is parsing correctness impossible to achieve with regular expressions. Say that you have text like `[x][x][x][/x][/x][/x]` (shortcodes nested multiple

[2016-01-25 09:48] thunderer commented on #25
Thanks for your response - as for the fix for `WordpressParser` I came to the conclusion that offsets are not even part of how WordPress handles shortcodes so I also fixed the offset problem there. I contacted @michaloo and I hope he replies here and confirms the proper behavior so that we can close the issue for good.

[2016-01-25 10:36] thunderer commented on #29
@giansi this library was committed directly into @rhukster plugins repository (last time I looked at it, it was _not_ installed through composer) without my new commits so if it breaks something for you it may mean that there are still bugs I was unable to find. Please keep me posted on what is wrong and I'll try to help.

[2016-01-25 10:57] giansi commented on #29
Actually it does not run my handles. When I switch back to previous
shortcode version it works again. I investigated and looks like now it
uses the WordpressParser and this might be the problem.

Here's the actual code I use to instantuiate the new handler

[code]

function(ShortcodeInterface $shortcode) use($shortcodeObject) {
             $shortcodeObject->processShortcode($shortcode);
$this->gr

[2016-01-25 11:18] thunderer commented on #29
I recently added a note in `WordpressParser` to use it **only** if you want [full compatibility](https://github.com/thunderer/Shortcode/blob/master/src/Parser/WordpressParser.php#L8-L9) with WordPress. From what I see you want to use at least `RegexParser` as it's the default choice if you do not need full parsing correctness provided by `RegularParser` as I explained in [this comment](https://git

[2016-01-25 17:58] giansi commented on #29
Hi,
I found where the Process class is intantiated in @rhukster's plugin. He actually switched to WordpressParser and this does not parses my shortcode. I tried both with RegularParser and Regex one and only the last works. This was the parser used in previous @rhukster's plugin. I attach the html code produced the page which is parsed to create the shortcodes. Mine is blurred_jumbotron

[page.zip

[2016-01-25 18:04] rhukster commented on #29
What is the significance of this `[...]` stuff in your code example?  I'm sure this is tripping up the parser.
Why don't you try wrapping that whole code block in `[raw][/raw]` shortcode so it's not processed.

[2016-01-26 00:03] giansi commented on #29
Hi, the problem was caused by the shortcode name: I chose blurred_jumbotron and this breaks both the WordpressParser and the RegularParser. I fixed simple changing the shortcode name to blurred-jumbotron.

@thunderer looks like parents are correct now.
@rhukster the [...] are just a part of a blog article and they do not break the parser. :-)

[2016-01-26 00:03] #29 closed

[2016-01-26 00:37] rhukster opened #30 "`[0]` will throw an exception with RegexParser"
We have a page that has some JS pasted in it.. part of that JS has the string `[0]` and this throws the error:

InvalidArgumentException Shortcode name must be a non-empty string!

![crikey there was an error 2016-01-25 17-36-19](https://cloud.githubusercontent.com/assets/1084697/12569237/299b1e60-c38a-11e5-8288-89ddec6c3b60.png)

Test code:

[code]

FYI WordpressParser works fine.

[2016-01-26 09:00] thunderer commented on #30
`Wordpress`' parser regex allows only characters in shortcode name, it does not catch shortcodes which have numbers in name. As for the rest of the parsers, there is a bug in `Shortcode` class constructor which checks if name is not `empty()` and `'0'` is triggering type coercion to integer `0`. I fixed that in the latest commit on master https://github.com/thunderer/Shortcode/commit/0797f66688634

[2016-01-26 09:38] thunderer commented on #29
Yes, underscore `_` is not allowed in shortcode name, only alphanumerics and dash `-`. It does not _break_ those parsers, they will just consider it invalid and won't match it. I use `\w-` as the fragment for names in `RegexParser`, seems that underscore is an added bonus I was not aware of, it's now fixed in https://github.com/thunderer/Shortcode/commit/3a8d53780dc4c2cd823ba0c7c25f1131045337d8 .

[2016-01-26 17:23] rhukster commented on #30
Confirmed fixed.. Thanks!

[2016-01-26 17:23] #30 closed

[2016-01-26 17:27] rhukster opened #31 "Question: Best way to handle a `[raw][/raw]` shortcode?"
I'm trying to find the best way to write a `[raw][/raw]` shortcode that stops the Shortcode library from processing anything between these raw tags.  My current implementation fakes it by taking setting the 'text' back to the original unmodified text.  However, this doesn't stop Shortcode from processing that inner stuff first.

[code]

This raised it's head when I ran into the `[0]` bug in some j

[2016-01-26 17:34] thunderer commented on #31
Use `ProcessedShortcode::getTextContent()`, it contains the unprocessed content of current shortcode even if auto processing is enabled. I should put some PHPDocs there. :)

[2016-01-26 17:50] rhukster commented on #31
So it should be this:

[code]

??? That inner stuff is not processed at all?

[2016-01-26 19:39] thunderer commented on #31
There are several possible solutions:
- you can recursively check in every handler that none of the parents are `raw` and if there is any with that name, return `ProcessedShortcode::getShortcodeText()` immediately. I can add a `ProcessedShortcode::hasParentsWithName($name)` helper method to make it easier to use,
- if you turn off auto processing of content and disable recursion then you'll be abl

[2016-01-26 19:50] rhukster commented on #31
Hmm, I appreciate your thoughts and solutions, but I don't agree.

I really think that having a method in the library to specifically **not process shortcodes** is a better solution IMHO.  It's like a shortcode needs to be there per say, but a method making it simple for users of the lbrary to create a shortcode such as `[raw]` seems like a feature that any shortcode library should have.

All your

[2016-01-26 20:26] thunderer commented on #31
I also appreciate the whole discussion we have over all the reported issues. Let me just speak my mind below, I need some time to think about all possible ways of solving that.

My position on this topic is that _not processing_ shortcode is just one of the ways of processing them, that's why you won't find anything directly related to implementing usual `[b]`, `[u]`, `[url]` shortcodes in the lib

[2016-01-26 20:46] rhukster commented on #31
Yes, I tested it and it does continue to process the shortcodes in between the `[raw][/raw]` tags, it just ignores it.  So it does what it was doing, just a little cleaner.  But it's not a proper solution.

I don't think you should include any default shortcodes in the library, and that goes also for `[raw][/raw]`. I just think you should make the ability to do this in a simple fashion.  I can see

[2016-01-27 19:21] #27 closed

[2016-01-29 22:49] thunderer commented on #31
@rhukster I just merged the events subsystem PR #32. You asked about the example how to use those events, I think the test for `[raw]` shortcode [explains it quite well](https://github.com/thunderer/Shortcode/blob/master/tests/EventsTest.php#L29-L33). You need to create an `EventContainer`, register any callable just like you register handlers for shortcodes and put the container into `Processor`,

[2016-01-30 00:04] thunderer commented on #11
This issue is really old. :) Nevermind, implemented in #32.

[2016-01-30 00:04] #11 closed

[2016-02-02 12:22] michaloo commented on #25
I've tested `v0.5.3` and it solves the problem we experienced in our systems.

[2016-02-02 12:22] #25 closed

[2016-02-02 13:02] thunderer commented on #31
@rhukster Have you had the chance to review those changes? BTW If those changes solved your problem, can you say so in comments, close this issue and open new one for new discussions?

[2016-02-02 15:19] rhukster commented on #31
Ah sorry, not had chance to review/test the events handler yet.  i have been refactoring some other area of Grav over the weekend that i discovered had some bugs (after writing some in depth unit tests!).

I should finish up my other work this morning, and ill test the events this afternoon.  Thanks!

[2016-02-03 19:27] rhukster commented on #31
Ok, had chance to test this, and yes it does work fine now! My raw handler function looks like this:

[code]

So pretty clean and works great!  Thanks.

[2016-02-03 19:27] #31 closed

[2016-02-03 20:15] thunderer commented on #31
I'm happy to hear this, thanks! Could you please also look at the open PRs for better documentation #34 and builtin handlers in #33? Any suggestions would be greatly appreciated.

[2016-02-03 21:06] thunderer commented on #19
@NishantSolanki I had some time to finish the new README and current state can be seen in PR #34. Could you please read it and tell me whether it is okay for you now? Any suggestions on what to improve will be appreciated.

@robehickman Sorry for not getting back to you. As for your `instance_model('name')` approach I must say that this is against software engineering principles as such implementa

[2016-02-04 05:31] NishantSolanki commented on #19
@thunderer the README file looking great, you have done a quite amount of work.

But I didn't get that why you used that `assert()` function in your example, may be something like below can be a good quick start for beginners. :)

[code]

[2016-02-04 08:28] rossriley opened #35 "Underscores in tag names not matched"
Wasn't sure if this was a deliberate decision but in parsing tags containing underscores aren't matched.

eg: `[testtag]` works but `[test_tag]` does not.

Both the regular parser here:
https://github.com/thunderer/Shortcode/blob/master/src/Parser/RegularParser.php#L81
and the Wordpress parser here:
https://github.com/thunderer/Shortcode/blob/master/src/Parser/WordpressParser.php#L27

use a slight

[2016-02-04 08:55] thunderer commented on #35
Hi, I recently fixed inconsistent behavior between `RegexParser` and `RegularParser` and removed support for underscores `_` in shortcode names. Those changes were introduced in https://github.com/thunderer/Shortcode/commit/a22cd63eb8b9642465b87c0df386e57131c73114 and https://github.com/thunderer/Shortcode/commit/3a8d53780dc4c2cd823ba0c7c25f1131045337d8 . I'm curious about `WordpressParser` becaus

[2016-02-04 09:19] thunderer commented on #19
@NishantSolanki I get the idea, but do you think that those `assert`s are too hard to understand? I tried to provide "real world" examples while writing it, but I felt that they were too verbose. :) I'll try to do something about it, but I'm happy that you're satisfied.

[2016-02-04 09:32] thunderer commented on #35
Just to clarify - I can add support for underscores back in `RegexParser` and `RegularParser`, but I apply fixes to `WordpressParser` _only_ if its behavior differs from WordPress. That is explained in a disclaimer [at the top](https://github.com/thunderer/Shortcode/blob/master/src/Parser/WordpressParser.php#L8-L18) of that class.

[2016-02-04 15:44] rhukster commented on #19
I agree it does take some time to _decode_ the tests. Understanding would come much quicker with some more real-world examples.

[2016-02-04 20:49] rossriley commented on #35
Sorry, my mistake, the wordpress parser was failing on something else to do with the body of text I was processing.. When I took it out to a simple string the WordpressParser does work correctly.

So, would be nice eventually to have underscore support in the main parser, but for now I can use the Wordpress parser.

thanks

[2016-02-04 21:11] thunderer commented on #35
Can you tell me what was the problem? Is it something I can fix on my side? I took a note to add the underscore `_` back, I'll also explicitly state in the new docs in #34 what names are allowed. I hope to finish work on outstanding PRs and tag `v0.6.0` with all planned features.

BTW In general you should use `WordpressParser` **only** if you want exact same behavior as in WP. If you're migrating

[2016-02-05 08:58] rossriley commented on #35
@thunderer no, it was my fault, I think it was caused by the shortcode being right next to a CDATA section which came from the WXR file, once I pulled it out as plain text properly the Wordpress parser picked it up.

Because the underscore wasn't picked up on the standard parser I had assumed it was the same problem but it wasn't.

[2016-02-05 09:24] thunderer commented on #35
Yeah, XML may be conflicting with shortcode syntax as `<![CDATA[ this is a text ]]>` is a valid shortcode `this`. :)

I think I may get what is going on here. WordPress' regex catches only shortcodes with registered handlers, not the generic name pattern. To do that it gets the names from the global `$shortcode_tags` variable. To be truly compliant I should pass a `HandlerContainer` to `WordpressP

[2016-02-05 10:54] thunderer commented on #35
I added optional `HandlerContainer` instance in `WordpressParser` in https://github.com/thunderer/Shortcode/commit/ed246fe7d5a319884d5e52aaf1d4611faee5f32b. If you pass it there, that parser will construct its regex just like WordPress does it internally and it should be completely compliant now, it will also support any shortcode name without validation, just as WordPress does. Could you please c

[2016-02-05 11:09] thunderer commented on #35
Sorry, my previous comment was too hasty, I changed the constructor to named constructors `createFromHandlers()` and `createFromNames()` and I forgot about the call to `preg_quote()`.

[2016-02-05 19:16] thunderer commented on #12
All handlers were implemented, #33 was merged, I'm closing this issue.

[2016-02-05 19:16] #12 closed

[2016-02-05 19:21] thunderer commented on #19
@NishantSolanki @rhukster @robehickman PR #34 with new README was merged, I changed the [main example](https://github.com/thunderer/Shortcode#processing) to be more "real world" just as you have suggested. I'll think about other ones (and possibly setting up a Wiki) in the future, but this is not blocking right now.

@NishantSolanki could you please close this issue if the current state is good en

[2016-02-05 19:26] thunderer commented on #35
@rossriley Underscores are back in the allowed characters in https://github.com/thunderer/Shortcode/commit/5265cb5320b70712cfa239bd426f442c0454d95c (I hope to tag release soon), I also standardized their validation so that they will be changed simultaneously in the future to avoid accidental differences.

Would you like me to do anything more or can this issue be closed? Yes, I know that I reopene

[2016-02-05 20:55] rossriley commented on #35
@thunderer No, that's great. Thanks for doing that so quickly.

[2016-02-05 20:55] #35 closed

[2016-02-08 06:16] NishantSolanki commented on #19
@thunderer that looks great, thanks for accepting my suggestions :+1:

[2016-02-08 06:16] #19 closed

[2016-02-13 22:14] thunderer commented on #16
@rhukster `getBaseOffset()` was introduced in changesets https://github.com/thunderer/Shortcode/compare/c87b3e97714dcf98ae9ae7a5a26af883b534e2a4...9f74c82d723529b0f2e3de7f7d22512efe5f6fe1 . Also you may be interested in new `ShortcodeFacade` (with README update) PR that was merged today. That should sum up all the ideas you came up with so far. :smile: I got no more ideas so `v0.6.0` should be tag

[2016-02-13 22:38] rhukster commented on #16
Yup, i saw you merged your facade updates.  I'm going to take a look and probably update my Grav `shortcode-core` plugin to use it. I'll test the `getBaseOffset()` and with my recent changes it should be a good solution for getting a unique id of each shortcode.

Prior to recent updates, i was caching independently of the page, so each shortcode needed a unique id site-wide, which a simple offset

[2016-02-25 12:32] Jonatanmdez opened #37 "Bug with shortcodes with long text replace"
Hi,

I'm having a problem with this amazing library.  I use the shortcodes for really big replaces (Tables, imgs, etc).

The code: http://pastebin.com/NGWtVa4x  (I couldn't insert in github with format)

The output: http://pastebin.com/27dQxrcL

As you can see, only works fine in the first shortcode. The second only first line. And , if you append more shortcodes, ignore them.

What's going on? I'

[2016-02-25 12:55] thunderer commented on #37
Hi @Jonatanmdez, thanks for the kind words and reporting this issue. I was able to reproduce it in the much shorter code:

[code]

This bug is related to shortcode replacement logic - if the length of the replacements is greater than the length of the input string then replacements are applied only up to the input string's length. I fixed this bug by recalculating text length after each replacemen

[2016-02-25 12:59] Jonatanmdez commented on #37
Wow!!Very fast!

Now is working perfect. Thanks !

[2016-02-25 12:59] #37 closed

[2016-02-25 12:59] thunderer commented on #37
@Jonatanmdez `master` is green, `v0.6.1` was tagged. Could you please check if it fixes your problem and close this issue?

[2016-02-25 13:00] thunderer commented on #37
Woah, you're really fast too! :smile:

[2016-04-06 08:56] mark-win opened #38 "[*] Asterisk not allowed/working handle name?"
Hi, thanks for the project! I like it very much so far. Nonetheless, I'm having a hard Time registering some handles. Trying to register `[*]` as handle Name doesn't result in an Exception but neither does it seem to result in a working handle. It is not parsed from the input. For example:

[code]
results in:

[code]

I tried escaping the asterisk as well. Is it me doing something wrong? I mean `[

[2016-04-06 09:38] thunderer commented on #38
@mark-win Hi, thanks for the kind words about this library! I must admit that I never really saw the usage of `[*]` in the real world, can you show me the example? As per documentation in [README](https://github.com/thunderer/Shortcode#parsing):

[code]

but I have an item in the Ideas issue #16 to provide configurable rules for name validation so that you can provide a regular expression to match

[2016-04-06 10:03] mark-win commented on #38
Thank you for the quick response.

I was a bit quick on the readme i guess. `[*]` is often used to mark list elements in BBCode. See [BBCode on Wikipedia](https://en.wikipedia.org/wiki/BBCode) for some background. A quick implementation example can be found in this editor: [WysiBB](http://www.wysibb.com/) or it's [demo](http://www.wysibb.com/demo/) (try lists and check [BBCODE] view).

It is a dif

[2016-05-15 04:32] Firesphere opened #40 "Strip out <p> elements"
For example TinyMCE, wraps everything in <p> tags. Block elements like embedded elements, should be stripped of this tag, for HTML5 compliance.
So if the block-element is `<p>[embedcode]</p>`, the resulting output should be just the embedcode, without the `<p>` elements.

[2016-05-15 18:29] thunderer commented on #40
Hi @Firesphere, thanks for reporting this issue. As you said, it's TinyMCE that inserts extra `<p>` and this behavior can be [turned off](https://stackoverflow.com/questions/13841986/tinymce-adding-p-tags-automatically). I don't think this is something that should be done inside this library.

If you have any specific use-case that would make me reconsider that, please update the issue. If this an

[2016-05-19 18:02] leonardoalifraco opened #41 "RegularParser not working with HTML content"
The Regular parser is not working when having HTML content on shortcodes.

Example:
[code]

Returns
[code]

[2016-05-19 18:17] thunderer commented on #41
I'm sorry, I fixed this issue recently on `dev-master` but forgot to release new version. Just published `v0.6.2` and tested that it works correctly. Please confirm that it works for you and possibly close the issue.

[2016-05-20 13:01] leonardoalifraco commented on #41
Thanks a lot!

[2016-05-20 13:01] #41 closed

[2016-05-31 20:43] thunderer commented on #40
@Firesphere It's me again, did you resolve your issue? Do you have anything to add or can this be closed?

[2016-06-11 04:45] Firesphere commented on #40
Hi Thunderer, sorry for getting back this late.
I agree it can be turned off in TinyMCE, but that's not really a solution to the issue at hand I think? Since turning off the p-tags in TinyMCE turns the P-tag off for everything, while it should just be for the embedded shortcode.
Ping @tractorcow or @chillu, I'm not sure which of you wrote the P-stripper for the SilverStripe embedding, but it might

[2016-06-12 21:36] thunderer commented on #40
@Firesphere I agree that turning off `<p>` tags everywhere does not solve the issue. I just wrote a code fragment (below) that attempts to strip `<p>` tags from every line that contains shortcode, but this does not take into account any "edge case" such as:
- what happens if there are multiple shortcodes in one line,
- what if these shortcodes contain multiline content that should be (or shouldn't

[2016-07-06 03:03] tractorcow commented on #40
Sorry, I don't know anything about `<p>` stripping code in tinymce. :)

Could you configure some shortcodes to have a pre-defined wrapper, e.g. `<div>`, to suppress the additional of non-block type container elements?

[2016-08-02 19:26] leonardoalifraco commented on #41
Hi @thunderer
Looping back on this. I've shared this package with a colleague and he got the same issue.
Then we realised that the version to require specified on the readme is not the latest.

What do you think of switching to ^0.6 on the readme.md?

[2016-08-02 19:36] jdreesen commented on #41
Why even name a specific version there? Composer will automatically pick the latest possible version when you just call `composer require thunderer/shortcode` ;)

[2016-08-02 19:51] thunderer commented on #41
@leonardoalifraco yes, it would be a good change, but the command mentioned by @jdreesen will update Shortcode to the latest version (it will also update entry in composer.json).

[2016-08-02 20:50] lalifraco-devspark commented on #41
I mean, in the installation instructions it reads:

to install it execute:

`composer require thunderer/shortcode ^0.5`

or manually update your composer.json with:

[code]

Updating the version number to the latest available or removing it at all would be acceptable solutions from my point of view.

[2016-08-02 21:03] thunderer commented on #41
@lalifraco-devspark yes, I understand what you mean, just did it in latest changeset https://github.com/thunderer/Shortcode/commit/d961fca5c555a67d906fdb8511007c117180b2a2 .

[2016-08-02 21:05] lalifraco-devspark commented on #41
Thanks!

[2016-08-10 19:05] leonardoalifraco opened #42 "Issue with unregistered shortcode"
Hi guys,

Thanks for this package, it is very valuable for integrating Wordpress with other platforms.

I'm having an issue when I try to replace only a set of shortcodes, specifically with the non handled ones that have "special" characters.

Example:

[code]

The test fails and the processedValue has:

[code]

Instead of returning the same string.

I've already tried with the Regular and Wordpre

[2016-08-10 20:05] thunderer commented on #42
Hi @leonardoalifraco, thanks for reporting this bug. I confirm your behavior, just fixed it in current master. Please report back if it solved your issue so that I can release `v0.6.3`.

This is the same bug that was fixed in shortcode replacements applier earlier. There is no multibyte variant of `substr_replace()` and I needed to simulate its behavior by extracting text before and after replacem

[2016-08-10 20:22] leonardoalifraco commented on #42
Just tested it and it works perfectly.

Thanks a lot!

[2016-08-10 21:16] thunderer commented on #42
@leonardoalifraco I fixed the failing builds for older PHP versions and released `v0.6.3`. Please close this issue if you have no more questions for me. Thanks! :)

[2016-08-10 21:39] leonardoalifraco commented on #42
Works perfect! Thanks!

[2016-08-10 21:39] #42 closed

[2016-11-01 17:27] thunderer commented on #40
Hi @Firesphere, @tractorcow, @sminnee, @chillu, and others from @SilverStripe community! I'm sorry this issue had to wait so long. Today I found [#5487](https://github.com/silverstripe/silverstripe-framework/issues/5487), [#5535](https://github.com/silverstripe/silverstripe-framework/issues/5535), [#5987](https://github.com/silverstripe/silverstripe-framework/issues/5987), [RFC#1](https://groups.g

[2016-11-16 00:34] tractorcow commented on #40
I've left my comment over at https://github.com/silverstripe/silverstripe-framework/issues/5987#issuecomment-260816173 :dagger:

I think this addresses our issue. We'll probably look at your proof of concept and clean it up to suit our needs. Thanks very much for your help!

[2016-12-02 09:01] spotman opened #43 "Parsing wildcard tag like [banner-*]"
Hi there!

I have a 300+ documents having a set of shortcodes like `[banner-top]`, `[banner-bottom]` and so on. I do not know the full set of these shortcodes but I know the naming convention `[banner-*]` where `*` is fitting `[a-z-_]` regex. All I need is to register them in DB and replace with another shortcode like `[banner type="top"]`.

Is it possible to define one handler for whole set of th

[2016-12-02 09:38] thunderer commented on #43
Hi @spotman! Thanks for reporting the issue, what you are trying to achieve can be seen as two problems:
- actually parsing shortcode wildcards, ie. matching shortcodes with certain wildcards with the single handler (register `[banner-*]`, have all `[banner-top]`, `[banner-bottom_left]` shortcodes passed to that single handler),
- handling wildcard shortcode just like any other one, just falling b

[2016-12-02 11:05] spotman commented on #43
@thunderer Thank you for quick and detailed answer! I've tested it and this approach is OK for me coz all other shortcodes are fully described. You may close this issue (or keep it as doc, up to you).

[2016-12-02 20:11] thunderer commented on #43
I'm happy that it solved your problem, I will probably update README with this example. You gave me an interesting idea to think about, thanks!

[2016-12-02 20:11] #43 closed

[2016-12-03 03:37] spotman commented on #43
I'm glad to help you :)

[2016-12-14 05:53] dimayakovlev commented on #16
Can you add option for method `getParameter` to return parameter value as boolean?

What I mean:

[code]

[2016-12-14 09:00] thunderer commented on #16
@dimayakovlev can you show me some use cases for this? Isn't casting to boolean sufficient?

[code]

[2016-12-14 11:19] dimayakovlev commented on #16
It can be useful if parameter value is `'true'` or `'false'` (strings).

This is example from Grav [Shortcode plugin](https://github.com/getgrav/grav-plugin-shortcode-core): `Safe-Email Address: [safe-email autolink="true" icon="envelope-o"]user@domain.com[/safe-email]`.

It does not matter if `autolink="true"` or `autolink="false"`, this part of code would be executed https://github.com/getgrav/g

[2016-12-14 18:22] thunderer commented on #16
@dimayakovlev Thanks, but in this case, I would rather prefer that you call `filter_var()` in your own shortcode handler. This leaves you in control and does not introduce unnecessary optional parameters in library code.

[code]

[2016-12-14 18:41] dimayakovlev commented on #16
@thunderer ok. :)

[2017-01-07 15:35] noemi-salaun opened #45 "ShortcodeInterface::getBbCode() not working correctly with hash"
When trying to create a `ColorHandler` to replace
[code]
by
[code]

`$shortCode->getBbCode()` returns only "#" and `$shortCode->getBbCode()` returns :

[code]

[2017-01-08 00:16] thunderer commented on #45
Hi @noemi-salaun, thanks for the report. I fixed this issue in #44, I just added another test case based on your data and will merge and release `v0.6.5` shortly.

This was an intended behaviour as "simple value" parameters allowed only alphanumeric strings, so `[color=F00]` would work correctly. To make shortcode contain "complex value" parameter you needed to wrap it inside quotes: `[color="#F00

[2017-01-08 00:29] thunderer commented on #45
@noemi-salaun All builds are green, so I just released Shortcode `v0.6.5` with merged #44. Could you please close this issue if it solves your problem? Please get back to me with more details if it didn't or you need more help.

[2017-01-09 08:51] noemi-salaun commented on #45
Woaw that was fast :smile:
It works fine.

[2017-01-09 08:51] #45 closed

[2017-08-22 07:10] lightact opened #47 "Shortcodes ignored with multiple nested levels"
Hi,

First, thank you for making this library available. It appears very comprehensive, but I think I've found an issue that I am banging my head against for the past 3 days. In short, I believe that this code starts to omit shortcodes when there are several levels of. Please see my input text with shortcodes below:

`[la-row]
[la-column width="100%"]
[la-text format="h1"]Welcome![/la-text]
[la-te

[2017-08-22 07:34] thunderer commented on #47
Hi @mitjaprelovsek, thanks for the kind words about my library. I'm happy to help and will investigate the issue. In the meantime, can you share a PHP script to reproduce the problem (paste it here or create a gist)? I understand that the text above works fine, the problem is when you paste it several times in a single document?

[2017-08-22 07:45] LightAct commented on #47
Hi Tomasz,

Thanks very much for your fast response! I am not too familiar with gists
so I am pasting the code below. And yes, the problems start appearing
whenever the overall shortcode text gets too long with too many different
shortcodes. I've encountered this issue in many different variations and
shortcodes.

---

$handlers->add('la-text', function(ShortcodeInterface $s) {
$var=$s->getParamet

[2017-08-22 09:47] thunderer commented on #47
@mitjaprelovsek I wrote this script to reproduce the issue, it introduces your shortcode handlers (removed `la-color` and `la-slider` because they were not used) and then tries to process your text example 10 times. Unfortunately, it works correctly producing 10 times the same block of text with the same four elements in each line. Can you verify it on your side?

[code]

[2017-08-22 10:04] LightAct commented on #47
Hi,

I ran it but got the same issue. The last few div's are cut off whenever I
increase the number of text repetitions in '*$text = implode('',
array_pad([], 3, $text));*' to 3 or more.

Do you think the problem could be connected to the fact that I am running
this on IIS on Windows 10? I installed your library with Composer.json
though.

I am copying in the phpinfo results in case it is somethin

[2017-08-22 10:12] thunderer commented on #47
Can you check if the text is not always cut after a certain length? Maybe something is cutting the resulting HTML code and the browser displays everything it got from your script and fixing the rest. Please put something like `EOF` at the end of the input string and check if it is still there after processing. Windows environment could be an issue, but we need first to verify if the library output

[2017-08-22 10:17] LightAct commented on #47
When I change your code to include this:

$text = implode('', array_pad([], 1, $text));
$text.="EOF";
$processor = new Processor(new RegularParser(), $handlers);

I got the 'EOF' in the browser output.

When I change it to:
$text = implode('', array_pad([], 2, $text));
$text.="EOF";
$processor = new Processor(new RegularParser(), $handlers);

The 'EOF' is already gone. So it seems the problem appe

[2017-08-22 10:23] mitjaprelovsek commented on #47
Also, if it helps, below is the browser output. As you can see the last div is not correctly closed.

`<div class='la-main'><div class='la-row'><div class='la-column' style='width:100%;'><div class='la-text'><h1>Welcome!</h1></div><div class='la-text'>This page allows you to send commands to LightAct.</div></div></div>
<div class='la-row'>
<div class='la-column' style='width:25%;'><div class='la-t

[2017-08-22 10:26] LightAct commented on #47
Also, if it helps, below is the browser output. As you can see the last div
is incorrectly closed.

<div class='la-main'><div class='la-row'><div class='la-column'
style='width:100%;'><div class='la-text'><h1>Welcome!</h1></div><div
class='la-text'>This page allows you to send commands to
LightAct.</div></div></div><div class='la-row'><div class='la-column'
style='width:25%;'><div class='la-text'>

[2017-08-22 10:34] thunderer commented on #47
Is your text encoded in UTF8? This may be an issue as I'm using a lot of `mb_*()` functions with UTF8 parameter inside Processor class. If your text is anything other (`CP1250`, `ISO-8859-2`, `Latin1`, etc.) that may indeed be a problem (you can try converting through `iconv()` or `mb_convert_encoding()`). I see that indeed the output is cut to a certain length but I'm unable to reproduce it on my

[2017-08-22 11:26] LightAct commented on #47
i don't know where i can change the encoding to be honest. In the php file
you sent?

I could try to upload the whole thing to a hosted server where they are
running Apache on Linux I presume. But that wouldn't really help me because
I need to make it work on Windows.

[2017-08-22 11:41] thunderer commented on #47
PHPStorm displays file encoding at the bottom right of the editor, I know that you can change it also in SublimeText or Notepad++. But there may be another solution - could you try running the script (with 10 repetitions or more) I sent you in the console? Is the returned HTML correct there?

[2017-08-22 15:35] LightAct commented on #47
I'll try to do that tomorrow when I'll probably have access to the server
again.

On Aug 22, 2017 1:41 PM, "Tomasz Kowalczyk" <notifications@github.com>
wrote:

[2017-08-23 08:34] thunderer commented on #47
Hi, @mitjaprelovsek have you tried running that script in the console? Also does the Linux environment work correctly? Today I should be able to get a Windows box to test how it works, will tell you if I found any errors.

[2017-08-23 09:30] thunderer commented on #47
Hi, I got my friend working on `Windows 10` and `PHP 7.1.7` to test the script I posted above. Unfortunately again, we couldn't reproduce your issue. Could you please tell me your Windows and PHP version? I don't think IIS is to be blamed here, I don't see how it could interfere. Do you have anything other that could help me? Have you also checked your script encoding? I'm running out of ideas a l

[2017-08-23 10:39] LightAct commented on #47
It's Windows 10 and PHP 7.1.7

I'm not in the office today, but I'll try to find a decent enough i-net
connection for remote access either today or tomorrow. The first thing I am
going to try is to change the encoding.

On Wed, Aug 23, 2017 at 11:30 AM, Tomasz Kowalczyk <notifications@github.com

[2017-08-23 10:43] LightAct commented on #47
Hello again,

I've checked the encoding in Dreamweaver and it actually is set to UTF-8.
![2017-08-23 12_40_33-greenshot](https://user-images.githubusercontent.com/25590534/29612161-9460b08e-8800-11e7-9a23-8951bd240512.png)

Can I try anything else?

[2017-08-23 10:52] LightAct commented on #47
Can you ask your friend to send me a screenshot of his IIS settings perhaps?

I am also attaching my phpinfo;

[phpInfo.pdf](https://github.com/thunderer/Shortcode/files/1245131/phpInfo.pdf)

[2017-08-23 16:51] thunderer commented on #47
We didn't do it under IIS, we did it on Windows with latest XAMPP in the console. Did you try it like that? I don't think IIS is interfering with the output since we saw that HTML is cut in the middle but the end is preserved. I suspect there may be issue with the calculation of place where shortcode should be replaced, but I'm unable to reproduce it with virtually any configuration I have tried s

[2017-08-23 16:57] LightAct commented on #47
I am looking into using XAMPP instead of IIS at the moment.

What do you mean 'on a smaller scale' exactly? With shorter text?

[2017-08-23 17:05] thunderer commented on #47
I mean that you first wrote about discarding "nested" shortcodes, so maybe try to reproduce it by artificially nesting them in various configurations (in my script there were 1-1-2 and 1-4-2, ie. every parent contains at most this number of children). Existing tests (especially ParserTest and ProcessorTest) should give you an idea how to do it. Look at `ProcessorTest::testBaseOffset()`, substitute

[2017-08-23 17:11] LightAct commented on #47
Ok, will do that (and probably also change my server to XAMPP instead of IIS). It will have to wait until Monday though when I am back at the main computer.

Thanks for all your help so far Tomasz!

[2017-08-23 17:17] thunderer commented on #47
No problem, I'm always happy to help. I'm a little worried though - this library has a quite extensive test suite and you came with something I can't reproduce. :) By the way, did you run PHPUnit on the included tests? Is it all green, all ~280 tests?

[2017-08-24 08:40] LightAct commented on #47
I tried to run processorTest.php, but got 'this page is not working'. How
do I actually run these tests? Are there instructions somewhere?

On Wed, Aug 23, 2017 at 7:17 PM, Tomasz Kowalczyk <notifications@github.com>
wrote:

[2017-08-24 08:43] thunderer commented on #47
Clone the repository in a separate place (or enter its directory in `vendor`), enter its directory, run `composer install` and then `php vendor/bin/phpunit`.

[2017-08-25 08:22] thunderer commented on #47
@mitjaprelovsek Hi, any news on your end?

[2017-08-25 08:25] thunderer commented on #40
There does not seem to be more discussion going on about Shortcode integration in SilverStripe, so I'm closing this issue. If I can help in any way, please open a new one.

[2017-08-25 08:25] #40 closed

[2017-08-25 12:58] LightAct commented on #47
hi, ill do this on Sunday. thanks.

All the best,
Mitja

m:+386 30 362 454
---
Androids are sloppy typists. Apologies for brevity and typos

On Aug 25, 2017 10:22, "Tomasz Kowalczyk" <notifications@github.com> wrote:

[2017-08-27 11:38] LightAct commented on #47
Hello again,

I've had the time now to test it on another machine with Wamp server + php 7.0.10 installed. The results are the same, unfortunately.

This code:

[code]

gives me this output:

![screenshot 2017-08-27 13 44 00](https://user-images.githubusercontent.com/25590534/29749474-d2b772ee-8b2c-11e7-8681-4906a3f928d8.png)

As you can see, the output is cut.
I am going to start playing with the

[2017-08-27 11:47] LightAct commented on #47
Hello again:

I've tried to follow your steps in regards to testing php with php unit and on running the `php vendor/bin/phpunit` I got this result in cmd window:

![screenshot 2017-08-27 13 51 25](https://user-images.githubusercontent.com/25590534/29749510-fb4becb6-8b2d-11e7-96c2-de4f98b3c41f.png)

And on trying to run ProcessorTest.php in browser I got:

![screenshot 2017-08-27 13 51 14](https:/

[2017-08-27 12:27] LightAct commented on #47
ok, I've managed to get PHPUnit working by following [this advice](https://stackoverflow.com/questions/42811164/class-phpunit-framework-testcase-not-found) and changing the ProcessorTest.php. However, I got 53 errors, most of which are in relation to a 'class not found'

Please see below:
[code]

First of all, why is there 'Thunder\Shortcode' etc instead of 'Thunderer\Shortcode', which is what I h

[2017-08-28 19:05] thunderer commented on #47
Hi, @mitjaprelovsek, I can't tell what is the exact issue here and I'm out of ideas, maybe we could setup a Skype/TeamViewer session to resolve the problem? It's a strange thing that the output from Shortcode is cut at an arbitrary point and nothing seems to suggest a solution. Does this problem always show with longer texts or is it only when shortcodes are nested? Please try running another scri

[2017-08-29 04:19] LightAct commented on #47
hi, thanks for all your help so far. i found a different library (bbcode
parser if anyone is having a similar problem than me).

All the best,
Mitja

m:+386 30 362 454
---
Androids are sloppy typists. Apologies for brevity and typos

On Aug 28, 2017 21:05, "Tomasz Kowalczyk" <notifications@github.com> wrote:

[2017-08-29 07:38] thunderer commented on #47
Hi @mitjaprelovsek, I'm sad that you decided to switch libraries, can you help me with this one last time? Can you run the code I pasted in my comment above and/or change `RegularParser` to `RegexParser`? The `RegularParser` is specific to my library, every other library you will find uses regexes to extract shortcodes.

[2017-08-29 08:16] LightAct commented on #47
Hi @thunderer , Sure, happy to. So, when I ran your original suggestion (with regularparser) I got this:

![2017-08-29 10_08_38-laweb_tomasztest php](https://user-images.githubusercontent.com/25590534/29811194-ed1a12f0-8ca2-11e7-9691-961b8b7efddc.png)

When I ran the modified parser where I change both `use Thunder\Shortcode\Parser\RegexParser;` line and `$processor = new Processor(new RegexParser

[2017-08-29 08:30] thunderer commented on #47
Can you try to use your original text example with `RegexParser` then? I would be very happy if you go back to Shortcode instead of the other library. I will chase the problem with `RegularParser` on my own. Thank you for your help!

[2017-08-29 08:35] thunderer commented on #47
Also, the XDebug error with `RegularParser` is expected as you either need to disable the extension or increase `xdebug.max_nesting_level` setting. Having 2000 levels of nesting is not something you do every day, though. :)

[2017-09-12 20:49] thunderer commented on #47
@mitjaprelovsek Unfortunately, I need to close this issue as not reproducible. I tried virtually any kind of input or configuration to experience your problem on multiple setups I had access to, and every time Shortcode worked as expected.

If you can verify the issue using a debugger and point me in any direction where the code is at fault, please open a new issue and I will be happy to take it f

[2017-10-06 16:41] mpdude commented on #40
Anyways, having the `ReplaceAroundEventHandler` as a standard class in this repo would be awesome.

[2017-10-06 17:35] mpdude commented on #40
@thunderer It seems to me that this approach always removes the `<p>` tags around all shortcodes.

Do you think there is a way to do this per-handler?

In my use case, some shortcodes (imagine `[current_year]`) should just insert text into the `$content` as-is, without removing surrounding `<p>`s.

Other shortcodes, for examle `[copyright_block]` are supposed to insert complete HTML blocks, having

[2017-10-06 21:43] thunderer commented on #40
@mpdude I agree about having the class in the repository, but I didn't find a way to implement it in the generic, configurable way. I'd be happy to talk about that if you want to contribute such solution.

As for your other question, the example class above can be easily modified to not replace certain shortcodes by adding `false === in_array($r->getName(), ['current_year'], true)` to the conditio

[2017-10-06 22:02] thunderer commented on #40
@mpdude I tinkered a bit with the idea of generic `ReplaceAroundEventHandler` right now and this is an untested prototype that should work (example at the bottom). The configuration is quite flexible although 1) it needs to be specified for every shortcode 2) there is no way to provide default configuration 3) I'm not sure it covers all cases, for example, what should happen if the string manipula

[2017-10-08 07:24] tanftw opened #49 "Fallback Shortcode"
Hi, I'm creating shortcode for my project. It useful when we can have default shortcode. Imagine when we use WordPress, we want to retrieve any post field (included post meta value which can be any string). It's awesome when we can do something like this:

[code]

So if we have a post with a field `country` and value is `Hong Kong`, when we run `[country]` shortcode, it returns **Hong Kong**.

[2017-10-08 11:10] tanftw commented on #49
Currently, I can achieve it with your Event, like so:

[code]

[2017-10-08 18:44] thunderer commented on #49
Hi, @tanftw, please take a look at [HandlerContainer::setDefault()](https://github.com/thunderer/Shortcode/blob/master/src/HandlerContainer/HandlerContainer.php#L49). If you set a default handler in the container it will be called for all unregistered shortcodes in the parsed text. You can do the same thing you wrote in your example without using events. Side note: what you wrote in the example is

[2017-10-09 11:22] tanftw commented on #49
Awesome bro! Thats exactly what I need.

[2017-10-09 11:22] #49 closed

[2017-10-09 11:23] mpdude commented on #40
Thanks @thunderer for following up so quickly!

I still need to have a look at your suggested solution above – due to urgency, I had to deploy an (intermediate) solution this morning that works with your snippet [above](https://github.com/thunderer/Shortcode/issues/40#issuecomment-257632082).

Two short remarks:
* The `ReplaceShortcodesEvent` will have its `$replacements` field set to `null` when

[2017-10-09 11:40] thunderer commented on #49
No problem, I'm happy that you're happy! :smile:

[2017-10-09 15:45] metamaker opened #50 "Small mistake in Readme.md"
It is stated in section https://github.com/thunderer/Shortcode#handlers that `NameHandler always returns shortcode's name. [xyz arg=val]content[/xyz] becomes sample,`. Should not it be `xyz` instead of `sample`? If so, can I create PR to fix this?

[2017-10-09 17:00] thunderer commented on #50
Hi, @metamaker! Yes, please create the PR, it would be very nice. Thanks!

[2017-10-09 17:30] dmytro-y-dev commented on #50
Opened PR. Also organized handlers list in table, because this way it is easier to look at. See https://github.com/metamaker/Shortcode/tree/patch-1#handlers for table preview.

[2017-10-09 17:55] dmytro-y-dev commented on #50
Ok, rejected #51. See https://github.com/thunderer/Shortcode/pull/52

[2017-10-09 18:01] thunderer commented on #50
Thanks for spotting the mistake, I merged your PR and I'm closing this issue. Please open new issue if you will have any more questions.

[2017-10-09 18:01] #50 closed

[2017-10-09 23:25] psren opened #54 "Semver"
Hey there,

i know the project is in 0.* stadium.
But I'm using it for quite some time and it seems stable to me.
Would you mind to tag a 1.0 release somehow or how is the plan?

My problem is: I'm working on a php5.3 project (yep, really that old) and I can't influence the maintainers. So a "not semver" piece of software is very dangerous.
I can fix the version, but I'm not sure if this is good i

[2017-10-10 07:32] thunderer commented on #54
Hi, @psren, let me address your questions:

- the project version is indeed `v0.*` but as you said, it is stable (not development, not beta, etc.) and used by quite a lot of people. I had a plan to release `v1.0.0` for a very long time, I will need to finally do it,
- I only removed PHP 5.3 from Travis test matrix, it is still supported and will continue to work. I did not change version requireme

[2017-10-10 10:09] thunderer commented on #54
Also, @psren, if you want to help, you can search for the way to still have PHP 5.3 in Travis matrix. It works when I force `dist: precise`, but then HHVM stops working. If you can find a way to run both, I'll be happy to accept your PR.

[2017-10-10 14:03] #54 closed

[2017-12-27 23:54] FilipQL opened #55 "BBCode - Converting to HTML (for beginners)"
Hi,

I am creating a simple forum using Laravel PHP Framework. Currently, for converting BBCode to HTML I am using the following package: https://github.com/Genert/bbcode

This package uses regex to detect and convert BBCode, for example:

[code]
I am having some problems with this (nesting or [link](https://github.com/Genert/bbcode/issues/2)) and on Stackoverflow I saw that you have [recommended

[2017-12-28 00:22] thunderer commented on #55
1. You can either add your own rules for shortcode replacement or you can use [those provided in the library](https://github.com/thunderer/Shortcode/#handlers),
2. Any registered handler will be called with an instance of [ProcessedShortcode](https://github.com/thunderer/Shortcode/blob/master/src/Shortcode/ProcessedShortcode.php). The basic usage rules are described in the [top parts of the README

[2017-12-28 02:54] FilipQL commented on #55
@thunderer Thank you very much! Over the next few days, I will install this package and start testing. The current solution that I am using is really problematic in some cases. If there are new questions regarding the usage - I'll ask here :)

[2017-12-28 02:54] #55 closed

[2018-01-26 08:34] jenstornell opened #56 "Two shortcodes in a row does not work?"
## Error

Maybe I'm missing a setting or something but I can't get the thing below to work properly:

[code]

**The result will be:**

[code]

## Works

So when wrapping both shortcodes around a single div it will only parse the first one.

**The strange thing is that this works:**

(se full example above. I replaced the $text variable)

[code]

**The result of the last test is:**

[code]

[2018-01-26 08:59] jenstornell opened #57 "Nested shortcode issue"
## Fails

[code]

**Result**

[code]

## Works

[code]

**Result**

[code]

[2018-01-26 10:07] thunderer commented on #56
Hi @jenstornell, thanks for using my library! Unfortunately, I am not able to reproduce this issue, so I need a little more context on your environment (OS, PHP version, Shortcode version). Can you provide such information?

I created a smallest composer.json with the latest Shortcode version (v0.6.5) `{ "require": { "thunderer/shortcode": "^0.6" } }` and ran your script on PHP 5.6, 7.1, and 7.2.

[2018-01-26 10:13] thunderer commented on #57
Hi @jenstornell, I also ran your script here on the same PHP versions with the same setup as in #56, with the same result: correct, both shortcodes replaced as they should.

BTW I assume that "Logan" in the first result is a typo because I'm pretty sure I don't detect and replace names in the source text. :)

[2018-01-26 11:35] jenstornell commented on #56
I did run this in cmd:

[code]

I use Windows with Apache 2.4.26 and PHP7.1.7 and it's installed with XAMPP.

[2018-01-26 11:47] jenstornell commented on #57
@thunderer Yes, "Logan" was a typo.

As I already write I can tell about the backstory of using your library. I have an idea to write a plugin for Kirby that would be a replacement for their built in "Tags":

https://getkirby.com/docs/developer-guide/kirbytext/tags

**And the reason for the replacement is mainly this issue:**

https://github.com/getkirby/kirby/issues/628

...but it would also be n

[2018-01-26 13:58] thunderer commented on #57
Thanks for the information, @jenstornell. A couple more questions then:

- do you have `mbstring` extension installed and enabled?
- have you overwritten its functions?
- are all Shortcode tests passing in your environment? Please share PHPUnit output.
- have you tried the code in a Linux environment?

Also, yes, I'm sure that I ran exactly the code you mentioned, you can see the Gist with all my

[2018-01-26 14:01] thunderer commented on #56
Let's have the discussion about your issues in #57, please comment and reply there. We will get back to this issue once we resolve #57.

[2018-01-26 14:12] jenstornell commented on #57
Some server info is in the image below. Multibyte support is enabled. I have not overwritten it. It's a very standard XAMPP setup.

![image](https://user-images.githubusercontent.com/927011/35443228-a7c89fd6-02aa-11e8-85eb-4592ce5ca58e.png)

It seems complicated to install PHP Unit so I have been able to code decently without it so far. I can't test it because of limited skills.

I have not tried

[2018-01-26 14:19] thunderer commented on #57
@jenstornell I see that `mbstring` seems to be enabled. To generate PHPUnit output please clone this repository in a separate directory, enter it, run `composer install` and then run `php vendor/bin/phpunit` and paste its output here. That's all.

Apache is an HTTP server that is indeed commonly run under Linux, but it's not a *Linux server* per se. You are using a version compiled for Windows. If

[2018-01-26 15:00] thunderer commented on #57
I managed to get fresh XAMPP with PHP 7.2 running on Windows 10 on my laptop, ran the tests, all green. apart from running Shortcode tests, could you "debug" the code using `var_dump()` to check what shortcodes are reported by parser? I'm really curious why it is not working with all the evidence I was able to gather so far.

[2018-01-26 15:05] jenstornell commented on #57
I just get this:

[code]

If I go directly to `vendor/bin` and then type `phpunit`, I get a list of things I can do.

## Update

You already have run the tests so I get to the `var_dump` instead. This is the $s object:

[code]

**Output of it (same as before):**

[code]

[2018-01-26 17:56] thunderer commented on #57
[code]

@jenstornell The first shortcode is correctly extracted from the text, but is there only one, not two? The second one should be `[hello name="Peter"][/hello]`. Can you create a RegularParser instance and paste the result of parsing this text? `$parser = new RegularParser(); var_dump($parser->parse($text));` Also maybe we can work it out together, can I connect to your machine using TeamVie

[2018-01-27 18:56] jenstornell commented on #57
I tried it at home on my laptop with the same result. Here I also use Windows with XAMPP so the result is expected. I also installed it with Composer.

[code]

It output the var_dump and also the result of the echo.

[code]

I don't know if it help you. If not, maybe I can mail you a zip of my files. Then you can try a copy of my files, in case they are different in some way.

I'll get back to you

[2018-01-27 19:08] jenstornell commented on #57
Phpunit tests. A driver is missing but it seems to have run anyway. So all tests passed, I guess, at 276/276 100%.

[code]

Also see my previous comment about the var_dump test.

[2018-01-29 06:50] jenstornell commented on #57
If you want to test exactly the same files as me, I created a new repo for you here:

https://github.com/jenstornell/shortcode-test

It returns the same thing as a comment above, var_dump of the parse and this output:

[code]

[2018-01-29 10:24] thunderer commented on #57
@jenstornell If that's exactly the code you're running then I know what happened - you're using an old version `v0.6.0`, not the latest `v0.6.5`. Run `composer info` to see what package versions you have installed, when I cloned your repository I saw:

[code]

which matches the `"thunderer/shortcode": "0.6"` entry in `composer.json`. If you upgrade to `v0.6.5` through `composer require thunderer/s

[2018-01-29 11:20] jenstornell commented on #57
The problem is solved, but not the way you think. But you are correct, the version I have is 0.6.

## Updates back to 0.6

So I run the update process:

[code]

I expected it to be 0.6.5 now, but **nope**:

[code]

## Updates to 0.6.5

[code]

Here I don't even need to check the version number as it says it in the process above. Anyway, `composer require thunderer/shortcode=^0.6.5` worked but `com

[2018-01-29 11:30] thunderer commented on #57
Interesting, when I ran the mentioned command with `=^0.6` on your repository, it upgraded the library as expected. Maybe upgrade also your Composer? But I'm very happy that we've found the issue and the latest version is indeed working for you. Can you close this issue and also check whether #56 also works as expected? Thanks!

[2018-01-29 11:37] jenstornell commented on #57
It's me who shall be thanking you for all the effort to solve this problem. Great thanks! =)

As a sidenote, I run `Composer version 1.6.2 2018-01-05 15:28:41` the latest.

[2018-01-29 11:37] #57 closed

[2018-01-29 11:37] jenstornell commented on #56
It works like a charm!

[2018-01-29 11:37] #56 closed

[2018-01-29 14:58] thunderer commented on #47
Hi @mitjaprelovsek, I got other reports of Shortcode issues in Windows environment in #56 and #57 and this time I was able to find the issue - there was an older version of the library installed (`v0.6.0`) even though there was a correct version qualifier in `composer.json`.

**I was able to reproduce your issue while using an older version.** Indeed, the text is cut at some point, but that was al

[2018-01-30 08:02] jenstornell opened #58 "[] Does not work inside a shortcode"
I've been trying really hard to break this thing. It was not easy but I found a way to break it.

Shortcodes like this will not work:

[code]

If the brackets has characters like [sada], the `characters` shortcode works as expected. It's only when it's empty it does not work. In that case it just leave it unparsed.

On the upside I tried `'"_åäö` and other strange characters which works fine.

[2018-01-30 15:42] jenstornell opened #59 "Plugin for Kirby CMS released"
Now your great library has been a big part of my new plugin. I've also mentioned you in a few places in the readme file.

https://github.com/jenstornell/kirby-shortcode
https://forum.getkirby.com/t/kirby-shortcode/9569

[2018-01-30 20:50] thunderer commented on #58
Hi @jenstornell, thanks for the report. This issue should be fixed in #60, could you please check whether it solves your problem? You can install `dev-issue58-fix-opening-token-check` version in Composer which will load the feature branch into your project. Also, any comments on the PR would be welcome.

[2018-01-30 20:56] thunderer commented on #59
I'm glad that Shortcode helped you. If you have any suggestions about the library, I'll be very happy to discuss them. Please look at #16 where I outlined some of my ideas for further improvements.

[2018-02-01 13:03] thunderer commented on #58
@jenstornell have you had a chance to look at my fix? I'll happily merge it, but maybe you found another edge cases or something, I want to be sure that it solves all your issues.

[2018-02-01 13:24] jenstornell commented on #16
I have an idea. The first thing I noticed was that it quite much code, even for the most simple task, as we can see here:

[code]

 Maybe for this case simplify it even more. Something like this?

[code]

[2018-02-01 13:29] jenstornell commented on #58
Nope, not yet. But if you get the same issue before and got rid of it, then it probably works? Maybe you can add that case to your tests.

I don't have my code environment ready right now, but I'll get back here when I do.

I close this as you opened #60.

[2018-02-01 13:29] #58 closed

[2018-02-01 13:29] #59 closed

[2018-02-01 13:31] jenstornell commented on #47
Is it too much work to update the readme file with composer 0.6.5 instead of 0.6 for Windows users like us?

[2018-02-01 13:42] LightAct commented on #47
Hi Tomasz,

I'll be honest - that will be really hard. We moved on from this and are
busy with completely different projects nowadays.

Sorry. Thanks for fixing nonetheless.

Mitja

On Mon, Jan 29, 2018 at 3:58 PM, Tomasz Kowalczyk <notifications@github.com>
wrote:

[2018-02-01 14:27] thunderer commented on #47
@jenstornell I will do that. The problem is that `^0.6` *should* install `0.6.5` and we don't know why you got an older version instead.

@mitjaprelovsek I'm only asking for rerunning [the test code](https://github.com/thunderer/Shortcode/issues/47#issuecomment-323976713) on the latest Shortcode version and confirming that it works. A simple yes/no answer will suffice, and I'll sleep better if you

[2018-02-01 14:55] thunderer commented on #16
@jenstornell I already had that discussion back when I released first versions, you can read [my answer here](https://www.reddit.com/r/PHP/comments/33m21z/regexbased_shortcode_bbcode_engine/cqm90nt). The `ShortcodeFacade` class is already a compromise that provides sane defaults and allows the simplest possible usage while maintaining high software quality. Singletons and the global state itself c

[2018-02-01 22:46] thunderer commented on #38
Hi @mark-win, I finally did the work to allow asterisk as a valid shortcode name, merged in #63. If you still use this library, I'd appreciate verifying the solution on your side.

[2018-02-01 22:48] thunderer commented on #47
@jenstornell I merged all PRs (#60, #61, #62, #63), could you please check that everything works on your side on `dev-master` before I'll tag `v0.6.6`?

[2018-02-02 06:59] jenstornell commented on #47
It works on my side, but I have a very simple test and it's for Kirby CMS mainly:

[code]

But everything works now.

[2018-02-02 07:03] jenstornell commented on #16
I did something similar to my Kirby CMS plugin:

https://github.com/jenstornell/kirby-shortcode/blob/master/lib/shortcode.php

[code]

But I understand your concerns with this approach. For my plugin it's probably the best but not for all other scenarios.

[2018-02-20 01:44] MrPetovan commented on #38
Thanks for the work @thunderer , I'm planning on using your library in https://github.com/friendica/friendica, and we use the `[*]` notation for list items as well.

[2018-02-20 11:36] thunderer commented on #38
Hi @MrPetovan, I'm happy that it's useful for you. Can you confirm that asterisk works as expected in your environment? I'd like to close this issue and tag a new library version.

Also, do you have any suggestions for this library? Feel free to create a new issue if there is anything you need or a way I could help. Thanks!

[2018-02-20 12:35] MrPetovan commented on #38
Hi, I didn't start to use it yet, but you can expect me to tell you if it works as expected.

I have one specific usage request: I'd like to be able to parse BBCode shortcodes in a text using the lexer, then look for URLs using a regular expression on the remaining text excluding the shortcodes, is that possible?

Our use case is that we want to transform URLs into links in a text, but only if the

[2018-02-21 15:02] thunderer commented on #38
Thanks, I'm waiting for your confirmation then. As for processing URLs, I would like to know more about your use case. It definitely is possible, you can either:
* do it after processing shortcodes, ie. you first use this library to handle shortcodes and then operate on the result,
* register `Events::REPLACE_SHORTCODES` event handler to do it while applying shortcode replacements,
* do it inside

[2018-02-21 15:32] MrPetovan commented on #38
For example, if I have the following input:
[code]
I would like the HTML output to be
[code]
The last link isn't a shortcode but I'd still like to transform it into a link. Currently we are jumping through hoops to prevent other URLs present in the original text to be converted, and I expect your library to be able to parse the remaining text with a URL-matching RegExp after the ShortCode lexer is

[2018-02-22 04:33] MrPetovan commented on #38
I just tested the `[*]` tag with the RegularParser, and so far it isn't great:

[code]
Gives:
[code]
I suppose you thought about self-closing tags, but so far I haven't found how to specify it without the closing slash `/`.

Additionally, the simple text `[url=https://example.com]Link[/url]` isn't picked up by the `RegularParser`, is it on the list in #16?

[2018-02-24 20:49] MrPetovan opened #64 "Philosophy: Allow extending RegularParser"
Hi @thunderer ,

I was wondering if there was a specific reason for making the `RegularParser` class final and most of its methods private instead of protected?

The `RegularParser` is almost what I need but I would like to override the `shotcode` function, and I can't do it currently without modifying your library. The other option is to duplicate all the private code and I'm not too enthusiastic

[2018-02-24 23:56] thunderer commented on #64
@MrPetovan Can you tell me what are you trying to achieve? I would be able to help much more if you'll let me know what is your desired effect. I had a few requests for internal changes in the past, I was able to solve them by suggesting a different solution that didn't require any.

[2018-02-25 00:02] MrPetovan commented on #64
Sure, everything is here: https://github.com/thunderer/Shortcode/issues/38#issuecomment-367564596

Since you didn't answer (and it's fine), I took a stab at it today, and found out how "locked" the library was. I don't mind writing a custom parser based on the lexer you made, but it was made slightly less elegant by the `final` and `private` keywords.

[2018-02-25 00:04] thunderer commented on #38
For the issue with links, I suggest processing shortcodes as they are, ie. registering all handlers, processing the text and *then operating on the result*. Extracting URLs from the text is not a purpose of this library, but there are plenty available solutions for this, such as [this StackOverflow question](https://stackoverflow.com/questions/35553751/javascript-regex-find-all-urls-outside-a-tags

[2018-02-25 00:06] thunderer commented on #38
As for the `[*]` shortcode, it works just like any other one, ie. `[*]` is treated as a self-closed one, and `[*]text[/*]` is treated as a shortcode with content `text`. You can overcome this issue by for example registering a `list` handler that returns `<ul><li>content</li></ul>` and then use the `*` handler to replace all `[*]` with `</li><li>`. Let me know if that would help your case.

[2018-02-25 00:10] thunderer commented on #38
Oh, I forgot to explain that behaviour of this library with regard to your `[ul][*][/ul]` example is correct. In your example, there is only one shortcode (`ul`) in the root level, ie. directly in the text. Everything inside is correctly reported as shortcode *content*, which will be picked up automatically by `Processor` when it attempts to process the content.

[2018-02-25 00:25] thunderer commented on #64
I just added my comments to #38. I'm sorry but I don't see what changes in `RegularParser::shortcode()` would help achieve either linked URLs or the asterisk case. Can you explain it or maybe provide the changes you've made on your side?

As for *locked*, I wouldn't call it that way. There are interfaces for all mechanisms in this library that guarantee that you can replace all implementations wit

[2018-02-25 00:40] MrPetovan commented on #64
Ok, fair enough, this was a candid question, not a judgement, thanks for elaborating.

[2018-02-25 00:40] #64 closed

[2018-02-25 00:43] MrPetovan commented on #38
Thank you for your answers, what about the `[url=https://example.com]Link[/url]` which lacks parameters delimiters and doesn't get picked up by the library as a shortcode? After debugging, it appears the parser is choking on the first `/` in the parameter value as it tries to find a self-closing shortcode, doesn't find the expected closing character `]` right after and then returns false.

[2018-02-25 00:47] MrPetovan commented on #38
You said before that `[*]` should be treated a self-closing tag, but this doesn't appear to be the case, so which behavior is intended/correct?

I don't mind replacing literal `[*]` in the `[ul]` content by `<li>` if it isn't supposed to be self-closing shortcodes, I just want to know where to stand.

[2018-02-25 00:56] MrPetovan commented on #38
I just realized I haven't reached the Processor step yet. I thought the parser would handle the nested shortcodes but I realize now that it is done in the processor where the parser is called again on the content of the current level shortcodes.

I just verified that the `[*]` are correctly picked up by the parser when they are at the top level:
[code]
Gives:
[code]
As expected.

You can close thi

[2018-02-25 00:59] MrPetovan opened #65 "BBCode shortcode chokes on the tag closing character"
Using `CommonSyntax`, the following text won't be picked up by the regular parser:
`[url=http://example.com]link[/url]`

The parser correctly recognize the opening shortcode, continue to getting the parameter value, then finds a `/`which is a marker token, then look for a closing token, doesn't find it and return false.

Using parameter delimiter like this `[url="http://example.com"]link[/url]` yi

[2018-02-25 01:19] thunderer commented on #38
@MrPetovan I'm happy that you solved the asterisks issue. I'm closing this one and moving on to the one you just opened.

[2018-02-25 01:19] #38 closed

[2018-02-25 01:24] thunderer commented on #65
@MrPetovan Your reasoning here and in #38 is correct, the `RegularParser::value()` method matches only "strings", ie. "not tokens" as parameter values. Mentioned URL contains shortcode token "closing mark", ie. forward slash `/`. Parameter value delimiters `"` will indeed solve the issue, but I think the generic whitespace delimited value should be possible. I'm working on the solution.

[2018-02-25 02:01] MrPetovan commented on #65
For backward compatibility in my project, I need to be able to parse such shortcode.

I see two ways of solving it:
- Check that there’s a close token just after the marker token, or else keep on parsing the parameter value.
- Check that there’s a marker token just before a close token to decide it’s a self-closing tag.

Just throwing ideas around.

[2018-02-25 02:39] thunderer commented on #65
@MrPetovan please look at #66. Please install the `dev-` composer version from the PR branch and verify that it works for your test cases. I added a quite thorough test for it, but I suspect there may be some uncovered edge cases. Let me know if all my answers so far and this PR solves all your issues. I'm always happy to answer more questions.

Flyers [won their match](https://www.nhl.com/gamecen

[2018-04-25 20:26] mpdude opened #67 "Modifying shortcode replacements via event handler?"
Is it possible to use either `Events::FILTER_SHORTCODES` or `Events::REPLACE_SHORTCODES` to modify/extend the replacement string provided by the handler?

I am looking for a way to insert additional HTML (say, a `</div>...<div>`) around shortcodes. When determining this additional HTML, I'd need to know at lease the shortcode name. And I would like to keep this out of the handler, because it is co

[2018-04-25 20:29] mpdude commented on #67
I may be headed in the wrong direction, but I think this would be straightforward if the `ReplacedShortcode` contained in the `ReplaceShortcodesEvent` were not read-only, so that I could just tweak the replacement strings...

[2018-04-25 21:03] thunderer commented on #67
Yes, this is one of the use cases for `Events::REPLACE_SHORTCODES`. Here is a quick example I wrote for you, I hope I understood your problem correctly:

- create handlers with default handler that just returns the name and content,
- create `REPLACE_SHORTCODES` event handler with our replacement mechanism (copied directly from Processor),
- this mechanism wraps each shortcode replacement in a dif

[2018-04-25 21:09] thunderer commented on #67
BTW The idea of an event before `Events::REPLACE_SHORTCODES` which allows you to tweak the replacement seems like a good idea. It may be a quite significant performance hit, but as an optional mechanism (no handler === no hit) should work quite well. The event handler would receive `ReplacedShortcode` and return the new replacement which would take place of the old one. The temporary name I came u

[2018-04-26 21:07] mpdude commented on #67
Tomasz,

thanks a lot for your quick reply and the code example above. Indeed, I've seen something similar at https://github.com/thunderer/Shortcode/issues/40#issuecomment-334880772 ;-).

I wonder if it really has to be as complicated as this, since there is already code to do this heavy lifting of merging the original content and the replacements together. I mean, if the `ReplacedShortcode` would

[2018-07-23 14:00] hanachan1026 opened #69 "facade process not working"
Using Laravel 5.4

[code]

[code]

It doesnt escape shortcodes, and cannot get parameter.

[2018-07-23 14:02] #69 closed

[2018-07-23 14:11] thunderer commented on #69
@hanachan1026 you closed this issue shortly after opening it. Did you solve your problem? Can I help you with something?

[2018-07-23 14:25] hanachan1026 commented on #69
@thunderer Sorry I should've deleted this issue because I found out how to use this func shortly after I posted this. Thank you

[2018-07-23 14:32] thunderer commented on #69
I understand - if you have any other question feel free to open an issue here or send me an email, you'll find it on my website: https://kowalczyk.cc . Thanks for using my library!

[2018-09-24 14:09] DevNIX opened #70 "On large HTML files, RegularParser does not fire any handler."
I've been implementing this library on a project in my company, which scraps a whole local Wordpress with httrack and then modifies the files in order to fit to our needs.

To make some parts dynamic, we're implementing shortcodes (which we translate to custom PHP code). I've been testing your library without any problems, but when I gave it a definitive file, it didn't triggered any handler, and

[2018-09-24 14:30] thunderer commented on #70
Hi @DevNIX, thanks for your kind words! I'm happy that you like this library.

Can you send me a script to reproduce the issue along with the problematic file? Also, can you verify that you're using the latest version of Shortcode (v0.6.5)?

[2018-09-27 10:39] thunderer commented on #70
@DevNIX did you see my previous comment? Can you provide the information I need?

[2018-09-27 14:52] devnix commented on #70
Yes, excuse me!

I have to get some time to prepare you a couple of files to reproduce the issue.

[2018-09-27 14:57] thunderer commented on #70
No problem, I just wanted to know what is the current status. Send them my way when you're ready.

[2018-12-06 22:29] rhukster opened #71 "RegularParser = Uncaught Error: Maximum function nesting level of '256' reached, aborting!"
We're using thunderer/shortcode in our Grav CMS `shortcode-core` plugin: https://github.com/getgrav/grav-plugin-shortcode-core

And it was reported to me that while using also using the Gantry5 Plugin while Shortcode Core was active, resulted in an infinite loop bug.  I dug into this a bit and it appears that some HTML code output by the plugin causes this PHP infinite loop bug when using the `Reg

[2018-12-08 20:31] thunderer commented on #71
Hi @rhukster, thanks for your report, please look at #72. Can you verify my results using `dev-parser-improvements` branch?

Your test data runs in ~20ms and uses around 10MiBs of memory in my local environment, Blackfire reports 80ms and ~9MiBs, baseline master ran in 12.5s and used 514MiBs of memory. All tests pass so I'm pretty sure it works correctly, but let me know how does it look on your s

[2018-12-08 20:42] thunderer commented on #70
Hi @DevNIX, did you have the chance to prepare the test data? It's fine if you need more time, just let me know if I can help you in any way. Meanwhile, you may be interested in #72, I found over 100x performance gain in `RegularParser` so there should be no penalty of running it vs other parsers.

[2018-12-08 21:17] rhukster commented on #71
I can confirm that I've tested the `parser-improvements` branch and the test case I added as part of #72 now works, an also the actual issue as reported to in https://github.com/getgrav/grav-plugin-shortcode-core/issues/53 and https://github.com/gantry/gantry5/issues/2426 have also been resolved!

I notice now that when there are no actual shortcodes, the `regular` parser is indeed very fast to pr

[2018-12-08 23:56] thunderer commented on #70
@DevNIX good news, during verification phase I managed to reproduce your issue and I'm happy to tell you that it's fixed! Once #72 will be checked by others and merged, I'm releasing a new version right away. Unfortunately the fix ate some performance gains I mentioned above, but the result is still very good - above 10x gains in both time and memory.

This also means that you don't need to prepar

[2018-12-09 00:04] thunderer commented on #71
@rhukster During the verification phase, I managed to reproduce #70 and added the fix to #72. Could you please verify the results again? I promise I'm not doing anything else with the PR, so it will be merged once I get your approval.

Unfortunately, the fix reduces the performance gains I mentioned above, but we're still well above 10x improvement in both time and memory (850ms and 47MiB on Black

[2018-12-09 00:55] rhukster commented on #71
Please see my comments on the PR itself.  Alas, the issue has returned with the latest commit, but does seem to be related to xdebug being on. (was this way with stable release too, I just didn't realize it before).

[2018-12-09 23:56] rhukster commented on #71
Update... latest commits in #72 branch again fixes the issue for me.

[2018-12-10 00:13] thunderer commented on #71
If this PR fixed the issue, may I ask you to close it? I will tag the next version soon, I just need to review the commits since the last version and prepare some release notes.

[2018-12-10 10:17] devnix commented on #70
Wow, that's great! I'm afraid I'm very busy lately and I've tried to do more things that I've been able to, so it was difficult for me to prepare the test data removing all the sensible info to replicate the issue...

I think I can confirm you in the following days if the patch works. Should I use the latest version of `master`?

[2018-12-10 10:34] thunderer commented on #70
@DevNIX Yes, please use the latest `master`. I'm currently preparing the next release so it would be great to have your confirmation before tagging it.

[2018-12-10 19:08] rhukster commented on #71
Ya all good for me...

[2018-12-10 19:08] #71 closed

[2018-12-17 08:20] devnix commented on #70
It seems like it worked well! I think I can close the issue and thank you a lot for your work, besides I could not give you all the help I would liked to.

[2018-12-17 08:20] #70 closed

[2018-12-17 08:24] devnix commented on #47
May it probably be because the `composer.lock`? Maybe he could run `composer update` :-D

[2018-12-17 13:59] rhukster commented on #71
Any word on timing for a new release?

[2018-12-18 23:43] thunderer commented on #71
@rhukster I'm very happy to announce that `v0.7.0` was just tagged, you can find the release notes [here](https://github.com/thunderer/Shortcode/releases/tag/v0.7.0). While I was writing them I found a lot of small things which could be improved, so #73 will probably become `v0.7.1` in the near future.

Thanks a lot for using Shortcode!

[2018-12-18 23:46] thunderer commented on #70
@DevNIX `v0.7.0` was just tagged, thanks for your cooperation!

[2018-12-18 23:51] thunderer commented on #47
@lightact @jenstornell @DevNIX I just tagged `v0.7.0` with lots of fixes and improvements (just to mention over 10x performance improvement and memory reduction in `RegularParser`). With merged #72 which also contains the fix to very similar issue #70, I'm closing this issue.

Thanks for using Shortcode!

[2018-12-18 23:51] #47 closed

[2019-02-01 04:37] rhukster opened #74 "regular parser throws exception with `param=0`"
While debugging an issue with the Grav Shortcode UI plugin: (https://github.com/getgrav/grav-plugin-shortcode-ui/issues/29) I discovered the `regular` parser will skip over an `x` param with the following format: `[shortcode x=0]`.

`[shortcode x="0"]` works, as well as `[shortcode x=1]`, but not `x=0`.  This only seems to affect the `regular` parser.  It works fine and as expected with `regex` an

[2019-02-01 09:57] thunderer commented on #74
Hi @rhukster, thanks for the report. The actual problem is in how PHP handles [value comparison](http://php.net/manual/en/types.comparisons.php), especially for string `'0'` (the only falsy non-empty string). `RegularParser` didn't take this edge case into account, which caused exactly the behavior you described. I fixed this issue in #75, please test it on your side and tell me whether it fixes a

[2019-02-01 18:08] rhukster commented on #74
Thanks for the prompt reply (as usual).  Just tested the PR and it resolves the problems.  Thanks!

Andy

[2019-02-01 18:08] #74 closed

[2019-02-03 22:58] thunderer commented on #74
@rhukster tagged `v0.7.1`.

[2019-02-04 00:35] rhukster commented on #74
Great, i'll get an update of `shortcode-core` Grav plugin asap.  Cheers!

[2019-02-13 08:27] drmzio opened #76 "Method getParameter returns value with quotes"
Parameter values using double quotes get passed back **with** double quotes when using `getParameter`. Maybe there's a way to modify this configuration to strip double quotes?

### Environment
* PHP v7.2
* Shortcode v0.6.5

[code]

This example shows two of the same shortcodes: one with double quotes for the parameter value and one without.

![](https://cl.ly/fdbce592275c/Image%2525202019-02-13%25

[2019-02-13 09:14] thunderer commented on #76
Hi @drmzio, you're using `WordpressParser` which works exactly like WordPress. As noted [in the class header](https://github.com/thunderer/Shortcode/blob/master/src/Parser/WordpressParser.php#L9), it is meant only as a compatibility layer if you need exactly the same behavior. Did anything change in WordPress that would require an update to this parser?

I recommend you to try the latest library v

[2019-02-13 09:50] thunderer commented on #76
@drmzio By the way, I tested all parsers with the latest version of the library using PHP 7.2, and none of them result in the reported behavior. Could you please tell me what is the output of this code in your environment?

[code]

[2019-02-13 17:38] drmzio commented on #76
@thunderer Trying out the code above outputs:
[code]

So after further inspection, found out that the Markdown editor was the one escaping quotes. Since this issue isn't related to Shortcode itself, I'm closing this. Thanks for the help!

![](https://cl.ly/10913f481896/Image%2525202019-02-13%252520at%25252010.35.23%252520AM.png)

[2019-02-13 17:38] #76 closed

[2019-02-13 17:44] thunderer commented on #76
No problem, I'm happy that it works for you, @drmzio!

[2019-04-03 16:06] rhukster commented on #70
FYI, I still think there is an issue for large documents.  I'm working on moving some Grav documentation to use a new `prism.js` shortcode, and it does not render the shortcodes at all with the **Regular** parser. **Regex** parser works in this case though:

https://raw.githubusercontent.com/getgrav/grav-learn/feature/learn4/pages/06.forms/01.blueprints/01.fields-available/docs.md

[2019-04-03 16:16] thunderer commented on #70
@rhukster can you open a new issue for that? Please include an example code to reproduce the problem and describe the expected result, ie. which handlers are not fired. I'll be happy to look at it in the next few days. Thanks in advance!

[2019-04-03 16:53] rhukster opened #77 "Large file not firing all shortcodes with Regular Parser"
Per #70, I'm still having this issue.  Attached is a zip to help debug:

[thuderer-shortcode-issue#77.zip](https://github.com/thunderer/Shortcode/files/3039850/thuderer-shortcode-issue.77.zip)

Just extract, run `composer install` and then `php shortcode.php`

The output with each parser can be seen via this online diff: https://www.diffchecker.com/vejLhuQq

Notice, the shortcodes are processed at

[2019-04-03 17:57] rhukster commented on #65
I use a little workaround for `wordpress` parser:

[code]

[2019-04-14 19:34] thunderer commented on #77
@rhukster I thought that the file being *large* was the least probable cause so I ruled it out first by reducing your document to contain only shortcodes without any text - nothing changed. I played a bit with the result until I found the *issue*: there is a **shortcode "syntax error" on line 817** - notice the missing apostrophe in the parameter value: `[div class="table]`. I "fixed" that typo an

[2019-04-14 20:43] rhukster commented on #77
Hah, well thanks for finding _my_ bug :) Just glad it also managed to shine a light on an issue with the Regular parser at the same time.

I've tested with the `dev-issue-77` tag and can confirm that it resolves the issue and only skips the broken shortcode now. Thanks for tracking this down!

I'll release a new version of the Grav `shortcode-core` plugin as soon as you get a release done.  Cheers

[2019-04-14 20:43] #77 closed

[2019-04-20 13:37] thunderer commented on #77
Hi @rhukster, I [just tagged](https://github.com/thunderer/Shortcode/releases/tag/v0.7.2) `v0.7.2` which includes the fix from #78 and improvements from #73.

By the way, I'm wondering, what do you think about the code below:

[code]

Currently `RegularParser` will report one shortcode `a` with parameter `k` equal to `v][a k=` and empty parameter `v`. I created a [POC branch](https://github.com/th

[2019-04-23 22:56] rhukster commented on #77
I think it makes more sense for both of those shortcodes to be invalid.  There's really no possible reason that a missing double quote should be considered OK.  And having `k` equal to `v][a k=` would surely never be expected behavior?

BTW, thanks for the 0.7.2 release.. my plugin is updated with it also.  Cheer!

[2019-10-31 14:57] xuannghia opened #79 "Parse error with Vietnamese characters or open and close tag only"
Hello,
Thank you because this library.
But I have some issues with some content below:
1. Issue with Vietnamese characters:
[code]
In this case I want to show `<div class="container">[Tiêu đề]</div>` ("Tiêu đề" is "Title" in English) but the container shortcode auto close and I get `<div class="container"></div>[Tiêu đề][/container]`

But this content will working if it is not contain Vietnamese c

[2019-10-31 15:15] thunderer commented on #79
Hi @xuannghia, can you post the code to reproduce the issues reported above?

[2019-10-31 16:01] xuannghia commented on #79
Hi @thunderer
This is my example code
[code]

P/s: I use PHP 7.3 and thunderer/shortcode version 0.6.5 (I install with composer)

Thank you.

[2019-10-31 16:17] xuannghia commented on #79
Oh, sorry for my mistake. These issues have been resolved in version 0.7.2.
But file README.md instructing me for installing version 0.6.5. Can you change it so that those who come later do not have to meet the situation like me?

[2019-11-01 19:46] thunderer commented on #79
@xuannghia are both issues resolved by upgrading to `v0.7`? I will update the README shortly.

[2019-11-04 12:45] thunderer commented on #79
@xuannghia can you confirm that the upgrade you mentioned above resolved both problems? If so, can we close this issue?

[2019-11-05 02:25] xuannghia commented on #79
@thunderer Yes, upgrading to v0.7.2 can fix both issues. Sorry for the late reply.

[2019-11-05 02:25] #79 closed

[2019-11-22 10:20] jenstornell opened #80 "I made a new Shortcode library - Inspired by yours"
I wanted to try my own thing, so I created an alternative to your Shortcode library.

https://github.com/jenstornell/php-shortcode

I link to your library in the readme file, as an inspiration.

## Differences

There are some main differences. I will just bring up the differences.

### thunderer/shortcode

- **Allows content between** shortcode start and end tags like `[shortcode]Content[/shortcod

[2019-11-22 10:33] thunderer commented on #80
@jenstornell I get 404 when accessing your repository. Are you still working on it? I'd like to see what you created there! :)

From what I see your main goal is ease of use. Did you see the built-in [ShortcodeFacade](https://github.com/thunderer/Shortcode#facade)? By the way, what are "literal quotes" which you listed as a difference?

[2019-11-22 11:16] jenstornell commented on #80
Crap! I forgot to make it public. Try the link now https://github.com/jenstornell/php-shortcode

**With literals I mean I shortcode like this:**

[code]

I forgot to metion that I have support for getting quote types as well. See: https://github.com/jenstornell/php-shortcode#with-types

[2019-11-22 11:39] jenstornell commented on #80
About ShortcodeFacade. I compared our libraries to see how they solve the same problem.

## thunderer/shortcode

[code]

## jenstornell/php-shortcode

[code]

Again, your library does require a few extra things because it's more advanced and can do more things. Mine is just as simple as possible, but not as complex.

[2019-11-22 14:54] thunderer commented on #80
@jenstornell Have you seen the [shortcode syntax](https://github.com/thunderer/Shortcode#syntax) customization section in README? I think that you can achieve "literal quotes" by changing the token for parameter value delimiter (`"` to backtick).

As for simplicity of your library, I see that it does not require certain types, but overall amount of operations remains very similar. Years ago I had

[2019-11-23 17:52] jenstornell commented on #80
@thunderer Yes, the token may work with your library. It looks like it in the docs anyway. 👍

While your library offers every possible feature, the goal with mine is to have like zero configration and just make it work like most people expect.

I've read your thoughts in the forum.

- **OCP** - My first thought was on the movie Robocop where OCP is a bad company. For simplicity, I will violate thi

[2019-12-03 12:15] mahagr opened #82 "PHP 7.4 issues"
In `src/Processor/Processor.php` line 143:

* `mb_strrpos(): Passing the encoding as third parameter is deprecated. Use an explicit zero offset`

[2019-12-03 12:33] mahagr commented on #82
See https://github.com/thunderer/Shortcode/pull/81

[2019-12-03 22:19] thunderer commented on #82
@mahagr I merged #83 and released `v0.7.3`. Thanks for reporting the issue, please update the library to the latest version and enjoy using PHP 7.4 :)

[2019-12-03 22:19] #82 closed

[2019-12-03 22:26] thunderer commented on #80
Hi @jenstornell, I understand that simplicity is your goal, but I think that you are a little bit too liberal when it comes to violating these rules. :) I'll be happy to see how your library evolves - if you want to discuss new features or have any other questions, please open an issue in your repository and tag me so that I'll get a notification.

For now, I think that we've covered most topics s

[2019-12-03 22:26] #80 closed

[2019-12-04 07:30] mahagr commented on #82
Thank you!

[2020-02-07 13:17] svanlaere opened #84 "mb_strrpos() 3rd parameter deprecated in PHP 7.4"
Deprecated: mb_strrpos(): Passing the encoding as third parameter is deprecated.
Use an explicit zero offset in Processor\Processor.php on line 139

Passing the encoding as 3rd parameter to mb_strrpos() is deprecated.
Instead pass a 0 offset, and encoding as 4th parameter.

[2020-02-09 20:18] thunderer commented on #84
@svanlaere Which version of the library do you have installed now?

We already solved this issue, please install the latest version of Shortcode - `v0.7.3`. For the reference, you can check #81, #82, and #83.

Please close the issue if it solved your problem, let me know if you have any questions otherwise.

[2020-02-09 20:26] svanlaere commented on #84
Solved by updating to 0.7.3.

[2020-02-09 20:26] #84 closed

[2020-10-15 20:28] killrawr opened #86 "Custom Short Codes"
I'm yet to use this library but I was wondering is Custom Shortcodes being supported? (https://github.com/thunderer/Shortcode/issues/16 "add ProcessedShortcodeInterface and Processor::withShortcodeFactory() (think of a better name) to **allow creating custom shortcode objects**")

[2020-10-15 20:33] rhukster commented on #86
Absolutely, granted this is for Grav CMS, but: https://github.com/getgrav/grav-plugin-shortcode-core

[2020-10-15 20:34] thunderer commented on #86
@killrawr this particular point is about being able to use a custom class for internal shortcode objects. You won't need this unless you're deeply changing the way shortcodes are processed inside this library.

Custom shortcodes were supported since the very first version, [look here](https://github.com/thunderer/Shortcode#processing) if you need an example of how to register your own handler.

[2020-10-15 20:43] killrawr commented on #86
Oh nice! thank you for the replies guys

[2020-10-15 20:43] #86 closed

[2020-11-19 00:48] wdelfuego commented on #16
Would it be possible to use nameless arguments for shortcodes that have only one argument?

[video http://youtu.be/1234abc] instead of [video url="http://youtu.be/1234abc"], for end users especially.

[2021-03-17 13:45] ideiasfrescas opened #92 "Multiple options in one add handler"
Hello, we will be having a use case when we need to add similar behaviour to a couple of shortcodes, being the only difference, their name. We don't see in the documentation, so we were wondering if its possible to provide an array of possible names or pipe between them?

like so

[code]

or

[code]

This would considerably shrink the codebase.

Best regards

[2021-03-17 14:01] thunderer commented on #92
Hi @ideiasfrescas, for `ShortcodeFacade` this behavior is already covered by `addHandlerAlias()` method ([see here](https://github.com/thunderer/Shortcode/blob/master/src/ShortcodeFacade.php#L133)). Can you use it instead?

[2021-03-17 18:50] ideiasfrescas commented on #92
Yes @thunderer

Doing so meets my use case.
Thank you.

Best regards

[2021-03-17 18:50] #92 closed

[2021-03-18 05:33] vish4395 opened #93 "Nested Shortcode for foreach loop"
Hello, I have a problem. I need to show the contents of the array using `foreach()` with the shortcode, like:

[code]

How I can achieve this? Please help me. Thanks.

[2021-03-18 09:23] thunderer commented on #93
Hi @vish4395, any parent shortcode controls the processing of its children, therefore you can do it this way:

[code]

[2021-03-18 14:40] vish4395 commented on #93
Hello @thunderer

Thanks a lot.

This library is really awesome.

[2021-03-18 14:40] #93 closed

[2021-08-06 02:36] mark8044 opened #97 "Is it possible to use this without composer?"
Really need a BBCode parser and glad to have found this one that looks actively supported?  But I have no way of using composer.  Any easy way to still use this?

Thanks!!

[2021-08-06 06:19] thunderer commented on #97
Hi @mark8044, thanks for the kind words - yes, the library is stable and actively maintained. It would be great if you used Composer, but if you really can't, you can always download the library code and put it into your project directly.

[2021-08-06 17:26] mark8044 commented on #97
Thats great to hear!  Do you have an example of how I could use it?

I tried the following but its a total fail:
[code]

[2021-08-06 21:33] jdreesen commented on #97
You probably have to manually `require` each (used) class/file or implement some sort of autoloader for this library yourself.

[2021-08-07 20:15] thunderer commented on #97
@mark8044 yes, @jdreesen is right - one of the (loads of) benefits of Composer is that you get an autoloader for free. If you want to use the library without it, you need to autoload classes yourself, either by manually `require()`ing the files or registering your own autoloader through `spl_autoload_register()`.

You can't just load the `ShortcodeFacade` because it requires other classes, but you

[2021-08-23 12:37] thunderer commented on #97
@mark8044 I'm closing this issue as we've answered your question. Feel free to open another one if there is anything else we can help you with.

[2021-08-23 12:37] #97 closed

[2021-10-11 19:35] Awilum opened #98 "Is there any built-in method to strip all shortcodes in provided text ?"
Hello,

Is there any built-in method to strip all shortcodes in provided text ?

I don't want to reinvent a wheel here.

[2021-10-13 06:50] thunderer commented on #98
Hi @Awilum, to strip all shortcodes from text, please process it by registering a default handler that returns shortcode's content. This way you will get the "same" text without `[shortcode]` and `[/shortcode]` fragments. Let me know if it worked for your case.

[2021-10-13 13:21] Awilum commented on #98
@thunderer any simple example how to do this ?

[2021-10-14 15:44] thunderer commented on #98
@Awilum Please try this one:

[code]

[2021-10-15 18:48] Awilum opened #99 "Issue with Nested shortcodes"
I'm trying to process nested shortcodes but it doesn't work:

[code]

Result:
[code]

[2021-10-15 19:03] thunderer commented on #99
Please use `RegularParser` as `RegexParser` has a limitation about [parsing nested shortcodes with the same name](https://github.com/thunderer/Shortcode#parsing).

BTW I see that you're using this library to strip HTML tags. If this is your goal, then Shortcode may be helpful, but I'd really recommend using a dedicated HTML parser.

[2021-11-09 21:24] thunderer commented on #99
@Awilum I'm closing this issue, I assume the parser change suggestion worked. Please open a new issue if you have more questions.

[2021-11-09 21:24] #99 closed

[2021-11-09 21:24] thunderer commented on #98
@Awilum I'm closing this issue, I assume the code example above worked for you. Please open a new issue if you have more questions.

[2021-11-09 21:24] #98 closed

[2021-12-02 19:53] rulatir opened #101 "mb_strpos() 3rd parameter is not nullable in PHP 8.1"
[code]

The code explicitly passes `null` and the intention is obviously to use the default value, but as of PHP 8.1 the default value is `0`, the type of the parameter is strict non-nullable `int`, and passing `null` results in `E_DEPRECATED` exception.

[2021-12-02 22:11] rulatir commented on #101
Aaah it's fixed on master. Release soon?

[2021-12-02 22:11] #101 closed

[2022-01-13 19:02] thunderer commented on #101
Hi @rulatir, I released `v0.7.5` with all the unreleased updates.

[2022-07-25 08:50] Titipox opened #105 "[question] Convert content with shortcodes into Json string ?"
Hello,

Thank you for your shortcode library first, we use it for our works in our php framework :)

I have a question : is there a way to convert all shortcodes from a content (saved into a database for example) into a JSON string like the serialize method ?
We develop a CMS for our use, and we saved the blocks into shortcodes in database. But to edit the blocks (in page edition), we need to conv

[2022-07-26 11:42] thunderer commented on #105
Hi @Titipox - you can use one of the parsers (I recommend `RegularParser`) to extract a list of `ParsedShortcode` instances which will tell you the exact matched text offset and details of the shortcode at that position. You can then convert these details to your format of choice and save them in the database. I see that you also want to save information about nested shortcodes. In that case pleas

[2022-07-27 14:04] Titipox commented on #105
Hi @thunderer , thank you for your answer. We did it by parsing our full shortcodes content recursively. We'll implement your method to make it properly :)
Best regards.

[2022-07-27 14:04] #105 closed

[2022-11-27 09:40] thdebay opened #106 "(question) Also retrieve content outside shortcodes when parsing"
Hello,

I discovered this library while searching for a solution to parse content with Wordpress shortcodes. It is fantastic, thank you for all the efforts you put into this project :)

I'm trying to make sure I'm using it the right way. What I need to achieve is transforming this initial content:
[code]

into an array of blocks
[code]

So everything is working great to parse and extract content f

[2022-11-29 12:37] thunderer commented on #106
Hi @thdebay, thanks for the kind words! I still have an idea in my mind for a shortcode "AST" (Abstract Syntax Tree) where instead of returning shortcodes you would get a kind of tree with all metadata about elements' positions, structure, etc. In your case, I think what you need are shortcode _offsets_ by which you can **split the text after parsing**. Look at the example below, the final variabl

[2022-11-30 20:11] thdebay commented on #106
Thanks a lot @thunderer, this is exactly what I needed. I had thought of another solution based on `str_replace()` but yours is much better and more efficient with `mb_substr()` and `getOffset()`. Again, thank you, I really appreciate your help! I'll implement your solution in my project, and I'd be glad to help with the testing if this feature makes it to the code of the library some day.